[2015-11-12 20:01] guillermooo opened #1 "add config to launch tests"
see the go package

[2015-11-12 20:18] guillermooo opened #2 "vim needs to be activated always, for all files"
We may want to let other extensions to opt out, though.

[2015-11-12 22:51] guillermooo commented on #1
it's there already

[2015-11-12 22:51] #1 closed

[2015-11-15 13:21] guillermooo commented on #2
done

[2015-11-15 13:21] #2 closed

[2015-11-17 07:17] guillermooo opened #8 "add appveyor ci"
@jpoon I don't seem to be able to add authorize apps for this repo. GH permissions drive me mad; I don't know what's missing. Could you please? I've added a first config file; it may fail, but that's ok; I'll debug later.

[2015-11-17 07:35] jpoon commented on #8
We already have travis.ci builds: [![Build Status](https://travis-ci.org/VSCode-Extension/VSCodeVim.svg?branch=master)](https://travis-ci.org/VSCode-Extension/VSCodeVim)

You are marked as an 'owner' of the team so you should have all access.

[2015-11-17 07:37] guillermooo commented on #8
At some point we'll want to run the tests in Windows too, so I think it's fine having both. Still can't add this repo; must be because I have 2f auth off.

[2015-11-17 20:32] guillermooo opened #9 "keys not working in international keyboards"
Can't press `Shift+;` in a Spanish keyboard, for example. It must be `Shift+.`.

[2015-11-18 19:28] guillermooo opened #12 "coding style"
@jpoon

Just a couple remarks:

- VSCode team seem to favor tabs over spaces
- When to use double quotes vs single quotes

Minor issues, but I'm not sure our choice is conscious?

[2015-11-18 19:29] jpoon commented on #12
I'm fine with either; feel free to adjust the tslint.

[2015-11-18 19:32] guillermooo commented on #12
Yup.

[2015-11-18 19:35] guillermooo opened #13 "request "true" command/normal mode for VS Code"
Tracking this here. I suspect handling key strokes they way we're doing now doesn't cut it. There must be an explicit "command/normal" mode where key presses are not inserted as characters in the buffer.

Also, we need a block caret.

I don't think these things will block us for now, but I'm adding this issue to track this.

- [x] request command mode for VS Code
- [ ] request block caret

[2015-11-18 22:00] jpoon commented on #9
Re: https://github.com/Microsoft/vscode/issues/114

[2015-11-18 22:28] #12 closed

[2015-11-18 23:08] guillermooo opened #15 "run all tests in CI server(s)"
The idea is to do this in the CI server(s):

- install code
- install vim ext
- start vs code
- run tests in vs code
- redirect test output to file
- read output from file and determine success/failure

[2015-11-18 23:11] jpoon commented on #15
Re: https://github.com/Microsoft/vscode/issues/118

[2015-11-18 23:35] guillermooo commented on #15
I think that being able to redirect the tests output to a file would be enough; no need to mock out the whole VS Code API from the cli. If I got you right.

[2015-11-19 13:15] adriaanp opened #17 "Contributing"
Was going to do an extension myself, would love to contribute.

Are you guys starting from a reference project or from scratch? I was thinking of porting the atom vim-mode extension to vscode.

[2015-11-19 18:27] prabirshrestha opened #18 "neovim integration?"
Are there any plans for neovim integration?

[2015-11-19 18:41] jpoon commented on #17
@adriaanp that would be awesome! I've been using it as an inspiration for the command/insert mode work, but haven't been porting it directly.

[2015-11-19 18:49] snowiow opened #19 "Block cursor in command mode"
Hi, I'm interested in implementing this feature and studied the API. I didn't find anything and asked on the official issue tracker of [vscode](https://github.com/Microsoft/vscode/issues/200), but no answer so far. Does someone of you know, how I can get it done, to manipulate the cursor shape?

[2015-11-19 18:50] jpoon commented on #18
As I understand, the neovim project is refactoring vim core itself. What would be involved with integrating VSCode with neovim?

[2015-11-19 18:54] jpoon commented on #19
Related: https://github.com/VSCodeVim/Vim/issues/13

Thanks so much for helping look into this! I couldn't find anything in the vscode documentation either; but you could potentially *fake* it but selecting the current character to mimic the block cursor.

[2015-11-19 19:01] jpoon commented on #8
Added with 3e151bfb1623d06c3c8ee50624db85ed45135fdb?

As a sidenote, I'm going to disable direct check-ins to master -- everything should go through PRs to ensure tslint + testing happens.

[2015-11-19 19:01] #8 closed

[2015-11-19 19:01] snowiow commented on #18
As far as I know, neovim offers the RPC protocol for communication. So a gui can communicate with the neovim core for example. Here are some [example projects](https://github.com/neovim/neovim/wiki/Related-projects). Here is also a [small overview](https://github.com/neovim/neovim/wiki/Plugin-UI-architecture#ui-programs) on how this communication could look like. But I don't have a clue about anyt

[2015-11-19 19:09] jpoon commented on #18
Thanks for sharing! Whoa, that is actually really amazing. I'm curious as to its current state; of the example projects, none of them looked very complete. Nonetheless, looks super promising.

[2015-11-19 19:13] snowiow commented on #19
Ok, I was already afraid of something like that. After reading [their approach](https://code.visualstudio.com/docs/extensions/our-approach) it looked like it isn't allowed at all for the moment, because they are going a very conservative way of extension possibilities. Hope they allow more in the future though. So long this fake selection, seems to be the only possibility.

[2015-11-19 19:16] jpoon commented on #15
@guillermooo it's more so that tests execute within the context of VSCode so it requires a window.

[2015-11-19 20:18] guillermooo commented on #15
GUIs run fine en Appveyor and you can get Travis to run GUIs too.

See: https://github.com/randy3k/UnitTesting/blob/master/sbin/travis.sh#L78

We test Sublime Text just fine in both CI services.

[2015-11-19 20:23] adriaanp commented on #17
Any idea on what I can work and focus on?

[2015-11-19 20:57] jordwalke commented on #18
I would seriously consider taking a look at this existing electron-integrated neovim implementation: https://github.com/coolwanglu/neovim-e

It works really well. The challenge with integrating into VSCode is that neovim currently only exposes raw character/line draw command (this will be improved over time). VSCode's API likely will want something more rich than this. This is why that neovim-elec

[2015-11-19 21:13] guillermooo commented on #18
How stable is Neovim on all three platforms?

I'm against adopting Neovim wholesale at this point. My suggestion is that we continue with a port of Vim in TS without taking it too far. At the same time, we can explore certain functionality using Neovim (vimrc support, for example, if it provides that), and then converge on the choice that makes more sense: pure TS port or Neovim back-end.

Also, w

[2015-11-19 21:28] jordwalke commented on #18
I'm not sure, I've only tried it on Mac OS, but it's forked from Vim.

Yeah, don't someone like me stop you - seems like good stuff will come out of this! I'm just giving my perspective as a *consumer* of Vim emulators. A Vim emulator that only gets 98% right is almost worthless - no one ends up using them. It's the *small* subtleties that are the worst. Please consider it a great compliment to yo

[2015-11-19 21:31] jpoon commented on #15
Sweet! Didn't know you can have windowed processes on Travis or Appveyor. Definitely would be a better solution to just running a subset of the tests as we are now. I think we are blocked on this until https://github.com/Microsoft/vscode/issues/118.

[2015-11-19 21:55] guillermooo opened #23 "style: capitalization of member names"
I believe the VS Code team use `namesLikeThis` and not `NamesLikeThis`. I've been using the former too.

[2015-11-19 22:47] jpoon commented on #17
We should probably get a bit more organized and make a task list of things we need to do.

I've been working on the basics of the different modes and a bit of the navigation keys within command mode: https://github.com/VSCodeVim/Vim/pull/16. No work yet has been done with the visual mode. @guillermooo has been working on the command console (e.g. `:wq`).

Feel free to party :tada: on whatever you

[2015-11-20 04:45] adriaanp commented on #19
Would the [DecorationRenderOptions](https://code.visualstudio.com/docs/extensionAPI/vscode-api#DecorationRenderOptions) with cursor property not style the cursor when setting a TextEditorDecorationType on the editor?

[2015-11-20 04:48] adriaanp commented on #19
Never mind after a quick test, that is the actual mouse cursor styling

[2015-11-20 08:17] ahmedshuhel commented on #17
@jpoon I would like to contribute too. I tried `atom/vim-move` earlier and found it to be unusable most of the time. I don't know why, may be because atom is slow in general. If your experience is same, we have to be careful about it.

[2015-11-20 10:20] jpoon opened #24 "Set TSD_GITHUB_TOKEN in AppVeyor"
Build failures with GitHub API in trying to download TSDs. Created an OAuth token and set it as an environment variable in `appveyor.yml`.

Preferably would like to keep the token private by moving it in AppVeyor project settings.

Assigning to @guillermooo as only you have the POWER! :fist:

[2015-11-20 10:46] jpoon commented on #17
Feel free to implement your favorite VI command.

I just merged the toggling between various modes: command, insert, visual with the following keybindings:
* Command Mode: h,j,k,l (navigation)
* Insert Mode: a, A, i, I, o, O

We also need to make everything more testable. That might mean setting up a pattern for testing VSCode UI (ie. where the current cursor is, the status bar item) or mocking ev

[2015-11-20 10:49] jpoon commented on #13
Duping this against #19

[2015-11-20 10:49] #13 closed

[2015-11-21 00:19] tmandry commented on #18
FWIW, all reports I've heard say neovim is very stable, thanks in part to its dramatically expanded body of tests. A few reports are [here](https://news.ycombinator.com/item?id=10488188). I do agree completely with @jordwalke's point of view here. I personally think it's only a matter of time before integrations like this replace emulations, in editors where it's practical to integrate.

[2015-11-21 00:33] tmandry commented on #18
Starting points for anyone who is interested in looking into this:

- [Plugin UI architecture](https://github.com/neovim/neovim/wiki/Plugin-UI-architecture)
- [API](https://github.com/neovim/node-client/blob/master/index.d.ts)

Also you might want to read tarruda's post about his planned [Smart UI protocol](http://tarruda.github.io/articles/neovim-smart-ui-protocol/) to get a sense of what's comin

[2015-11-21 01:59] jordwalke commented on #18
That "Smart UI Protocol" is exactly what I had in mind.

In the mean time, I would even be happy with a *canvas* rendering of Vim inside of VSCode (which is almost trivial to accomplish thanks to neovim-e (electron example)).

[2015-11-21 02:03] drewcassidy commented on #18
:100: This would be awesome, especially if i can still use all of VSCode's debugging features. This might even be the right thing to do given the current limited extension API.

[2015-11-23 19:25] guillermooo opened #29 "discussion: goals for first public version"
@jpoon

Perhaps we can set a few goals for a first release? Without going into much detail, I propose:

* to implement 10-20 normal mode motions
* to implement 10-20 normal mode actions (among them, `.`)
* to implement 10-20 command line commands (among them, `:normal`)
* to implement support for mappings (at least global and for normal mode)
* to implement support for macros

Let me know what you

[2015-11-23 19:36] guillermooo commented on #9
I'm thinking ideally we'd be able to load keybindings for different keyboard layouts. So VS Code should conditionally load sets of key bindings based on  some configuration.

For example, this would go in a config file like `preferences.json`:

[code]

And now VS Code or our extension would know to load:

[code]

instead of:

[code]

All of this is just an example, I'm aware VS Code can't do this

[2015-11-24 10:51] adriaanp commented on #29
I barely use any command line commands in other editors, not sure how other people are using it, if it's low maybe we don't need to focus too much on that area?

Otherwise looks like a good plan. :+1:

[2015-11-24 11:30] guillermooo commented on #29
I think we should get `:normal` and `:map` to work well so that we know that our handling of key presses and the handling of the life cycle of commands is flexible enough.

Most of the parsing tools for the command line part is done, so we just have to implement commands and see how the command line mode fits in with the other pieces.

So even though I agree that implementing many `:` commands doe

[2015-11-24 19:38] jpoon commented on #29
Likewise :+1:

Agreement with Neovim. We can reconsider it once we push out this initial version.

[2015-11-25 03:57] drewcassidy commented on #19
Excuse my lack of experience with javascript and web-based stuff, but didnt someone say in #18 it was possible to render things directly to the canvas? would that work to draw the block cursor?

[2015-11-25 20:18] guillermooo opened #33 "can't use dead keys"
So I cannot type á in insert mode, for example.

[2015-11-25 20:19] jpoon commented on #33
Globalization :(

[2015-11-25 21:29] guillermooo opened #36 "VSC can't handle '<' key in key binding (package.json)"
Using Spanish (Spain) keyboard layout.

Tried `<` and `Shift+>`. The former doesn't get forwarded from package.json, but the latter does.

`<` gets inserted into the buffer every time. `>` doesn't (as the rest of the tested keys, in this situation).

[2015-11-25 21:51] jpoon commented on #36
Issue against https://github.com/VSCodeVim/Vim/pull/32 and related to: https://github.com/VSCodeVim/Vim/issues/9

Do you have a picture of what a Spanish keyboard looks like?

[2015-11-25 22:04] guillermooo commented on #36
It's the MS nomenclature if that helps.But nope, I don't have a picture handy.

[2015-11-25 22:07] guillermooo commented on #36
@jpoon

![layout](https://cloud.githubusercontent.com/assets/684948/11410641/51c0b206-93c9-11e5-885f-40575ee39537.png)

[2015-11-25 22:08] jpoon commented on #36
where are the angle brackets? are they the same as the up/down/left/right arrow keys?

[2015-11-25 22:10] guillermooo commented on #36
Ah, I thought the picture was good enough, but no, it's missing some keys. The `<` key (with that label) is to the left of `z`.

[2015-11-25 22:14] guillermooo commented on #36
@jpoon This is more like it.

![layout](https://cloud.githubusercontent.com/assets/684948/11410723/ec0ce384-93c9-11e5-9a41-12cc369e83bd.png)

I have a physical German keyboard, my Windows UI and region I think is set to US English, and I use a Spanish (Spain) keyboard layout. Yay.

If I change the Windows UI to Spanish, I can get the picture above. (By UI language I mean the one you can change fro

[2015-11-25 22:15] guillermooo commented on #36
The settings mentioned above do not seem to have an influence on whether `<` is forwarded from the key binding.

[2015-11-26 10:08] jpoon commented on #29
How do you feel about shipping out a small version by this Friday (11/27)? I'm hoping that one we ship a small version we can get:

1. More feedback on what to commands to implement
2. Potential more community support

Completed:

* Mode
    * Visual Mode: `v`, `V`
    * Command: `Esc`, `Ctrl+[`
    * Insert: `i`, `I`, `a`, `A`, `o`, `O`
    * Current Mode displayed at the status bar

* Commands

[2015-11-26 14:31] markrendle commented on #29
I'm very excited about getting this extension. You just have to check back through my Twitter timeline to see how often I've badgered the VSCode team about Vim mode support :)

I'd love to contribute to the project, although I can't promise a lot of time, I'm sure I could submit a few PRs for features here and there (along with the inevitable raising of "`c/\)` doesn't work" issues).

So as well a

[2015-11-26 14:38] Mpdreamz commented on #29
I can only echo what @markrendle said. Subscribed to this repos and following all conversations over email but would also love to out of lurkmode and help out even a little if I can. A contributing. md would be awesome :+1:

[2015-11-26 15:11] guillermooo commented on #29
@jpoon Sure. I suppose we'll have to label it "alpha" or something like that. Also, should we not include a panic button if someone needs to disable the extension for some reason to continue working?

[2015-11-26 20:31] guillermooo opened #39 "dead keys are dead"
https://github.com/Microsoft/vscode/issues/721

[2015-11-26 20:35] jpoon commented on #33
Dupe of https://github.com/VSCodeVim/Vim/issues/39?

[2015-11-26 20:35] #33 closed

[2015-11-29 08:43] guillermooo opened #47 "bad experience for users with non-US keyboard layouts"
Currently, the extension is unusable for users having non-US keyboard layouts enabled.

As it seems there's no solution in sight from VSC POV, we could try the following:

* map all keys in a US keyboard layout
* translate from US layout to other layouts prior to handling key
* have a setting to determine which keyboard layout should be used internally for the translation  by the extension

Other

[2015-11-29 09:50] jpoon commented on #29
Shall we push out a version with whatever we have in `master`? If you are working on something right now, we can wait.

[2015-11-29 10:22] jpoon commented on #9
Let's use https://github.com/VSCodeVim/Vim/issues/47 to track issues with international keyboard.

[2015-11-29 10:22] #9 closed

[2015-11-29 10:23] jpoon commented on #36
Let's use https://github.com/VSCodeVim/Vim/issues/47 to track issues with international keyboards.

[2015-11-29 10:23] #36 closed

[2015-11-29 10:23] guillermooo commented on #29
@jpoon Go ahead; I won't have anything ready soon.

[2015-11-29 10:23] jpoon commented on #39
Let's use https://github.com/VSCodeVim/Vim/issues/47 to track issues with international keyboards.

[2015-11-29 10:23] #39 closed

[2015-11-29 10:40] jpoon commented on #29
:tada: Woohoo! Nice work! Shipped [v0.0.1](https://marketplace.visualstudio.com/items/vscodevim.vim)

[2015-11-29 11:14] guillermooo opened #48 "TextEditor.Insert cannot make several insertions in one go"
Add this to `extension.ts`:

[code]

Add this to `packages.json`:

[code]

If I try to use this command in an empty buffer, only `a` gets inserted.

This is an issue for mappings, where `iabc` should insert `abc` into the buffer, but currently VSCodeVim will only insert `a`. (Unmerged branch.)

[2015-11-29 11:31] guillermooo commented on #47
https://github.com/Microsoft/vscode/issues/114
https://github.com/Microsoft/vscode/issues/713

[2015-11-29 12:27] guillermooo opened #49 "can't use '\' in key bindings"
It doesn't seem to be possible:

https://code.visualstudio.com/docs/customization/keybindings

We need this key to remap it from en-US to other layouts. For example, `\` is `<` for es-ES.

[2015-11-29 18:32] theawesomestllama opened #51 "IntelliSense/completion doesn't stay open in insert mode"
Open a new JavaScript file and enter insert mode. Type in `func` and press Ctrl+Space to bring up IntelliSense. Press `t` to continue to type `function`. IntelliSense will close.

[2015-11-29 19:08] #51 closed

[2015-11-29 19:14] jpoon commented on #48
Good catch. I'll return the promise.

[2015-11-29 19:15] #48 closed

[2015-11-29 19:17] jpoon commented on #48
It's a little bit more verbose but you'll now need to:

[code]

[2015-11-29 19:20] jpoon commented on #51
Thanks for reporting the issue. Will bundle a couple more fixes prior to pushing out a new patch to the extension.

[2015-11-29 19:21] #29 closed

[2015-11-29 23:28] jpoon opened #54 "AppVeyor: Doesn't build on PR"
On the last couple of PR's, no status reported from `continuous-integration/appveyor/branch`

[2015-11-30 02:41] kimitake opened #57 "gulp error"
I just tried to run gulp as README using master branch, and got the following error at command line scanner (section?).

1) command line scanner can expect one of set:
TypeError: undefined is not a function
src\cmd_line\scanner.js:101:87
 :

What is wrong? or can I ignore this error?

[2015-11-30 02:53] jpoon commented on #57
What node version are you running? Trying upgrading to > "4.1.1" which is what our Travis tests are using.

[2015-11-30 03:01] kimitake commented on #57
just updated to 4.2.2 and fixed this issue. Thanks!!

[2015-11-30 05:27] rashwell opened #59 "normal mode keyhandler"
Ok,  I thought I would just add a bunch of normal mode stuff, but ran into an issue, which is probably aware of.  But I thought I would note it just to be aware.

Adding to **src/mode/modeNormal.ts**

[code]

works as expected but when trying to add:

[code]

The $ doesn't seem to pass through to the normal mode keyhandler at all when debugging it never fires the HandleKeyEvent in **/src/mode/mode

[2015-11-30 05:32] rashwell commented on #59
Ugh I am so sorry just saw #44 which is probably related.  Can't tell if my try above helps, feel free to slap me down as I go read that one.

[2015-11-30 05:36] rashwell commented on #59
So after reading #44 the piece I missed when I made my attempt was the package.json key binding needed the key: "Shift-4" and then all of the above worked for me.  Closing this as a non-issue.  And this was just me learning I'll just refresh as it looks like enough  people are working on this that they don't need me hacking stuff in.

[2015-11-30 05:36] #59 closed

[2015-11-30 05:40] #57 closed

[2015-11-30 10:19] joaomoreno opened #62 "Escape at the beginning of line should not move cursor to previous line"
Go to the first column of any line other than the first. Go into insert mode, then escape. The cursor will move to the previous line. It should stay within that line.

[2015-11-30 10:58] guillermooo commented on #54
Seems to be a glitch in AV. Closing. I'll try to kick off a new build for the affected PRs.

[2015-11-30 11:56] guillermooo opened #64 "renaming keys to vim nomenclature"
Vim uses names like `<cr>` (`return`), `<C-m>` (`ctrl+m`). This will be required later to process keys, for example for the `:normal` command.

@jpoon Thoughts?

[2015-11-30 13:34] guillermooo commented on #54
The only similarities I see on the PRs whose branch build isn't working is that they are REQUIRED and outside of this repo. @jpoon I've no idea what's going on, but I would try marking the appveyor branch build as NOT REQUIRED to rule out issues with that. I. e., branch builds work fine for me, but I'm working from this repo.

[2015-11-30 15:54] jpoon commented on #54
According to [this](http://www.appveyor.com/updates), AppVeyor made a recent update.

Updated as such.

[2015-11-30 15:54] #54 closed

[2015-11-30 20:07] markrendle commented on #19
Looks like the best way to do this right now is to define a single-character range in the textEditor with the backgroundColor style set, and move it with the cursor.

[2015-11-30 21:57] gosukiwi commented on #17
Not sure where to put this, but I find Visual Blockwise Mode quite important. I know the implementation should be hard, atom's vim-mode doesn't support it.

Any plans for adding that feature?

[2015-11-30 22:54] jpoon commented on #64
:+1:

[2015-11-30 22:54] jpoon commented on #23
As I make changes to the source, I'm slowly modifying it to follow this pattern: camel case function names.

[2015-11-30 22:58] #23 closed

[2015-12-01 00:48] rashwell commented on #64
I don't know how to give the thumbs up emoji but I agree as well.

[2015-12-01 05:53] kimitake commented on #62
embedded in 4fa94e1f475c4fcb5d8c05b96fdca44ebe5ecd49
fixed in dd1766d15896a386a976c07de80d77cfbf09475c

[2015-12-01 11:09] markrendle opened #70 "Shouldn't be able to move the cursor past the last character in a line"
In Normal Mode, the built-in "line" cursor should be restricted to just before the last character.

[2015-12-01 11:11] markrendle commented on #70
I don't know whether to add this restriction to #69 or handle it separately...?

[2015-12-01 15:19] DennyScott commented on #17
Hey guys, I've been working on a previous vim project for vsc, but your guys project looks really promising! I've ported over most of the selection mode over from atom-vim, what state is selection mode in currently? I can try integrating them :).

[2015-12-01 18:36] jpoon opened #73 "Builds: Travis CI PR builds failing due to TSD_GITHUB_TOKEN"
PR Builds are failing on travis as due to:

 (https://docs.travis-ci.com/user/environment-variables/#Encrypted-Variables)

Reading documentation, only option may be to storing it plaintext in the yml

[2015-12-01 20:22] jpoon commented on #17
@DennyScott we have nothing atm for selection mode. Most of the effort has been with command mode and handling the various commands `:wq` etc.

[2015-12-01 20:25] #73 closed

[2015-12-01 20:29] jpoon commented on #70
Thanks. I was noticing it when I was writing tests https://github.com/VSCodeVim/Vim/commit/27f52976371d8cc8c423b78a373bee30a2c7963b.

@kimitake has PR https://github.com/VSCodeVim/Vim/pull/68 that fixes this -- I'm hoping he can fix the merge conflicts :)

[2015-12-01 20:42] jpoon commented on #62
Fixed in `master` and will be included in next release.

[2015-12-01 20:42] #62 closed

[2015-12-01 20:42] #24 closed

[2015-12-01 20:54] kimitake commented on #70
just fixed conflict error.

[2015-12-02 12:46] guillermooo commented on #47
Potentially less bad now:

https://github.com/VSCodeVim/Vim/pull/61

[2015-12-02 12:46] #47 closed

[2015-12-02 13:01] guillermooo commented on #64
@rashwell `:+1: ` `=` :+1:
:smile:

[2015-12-02 17:22] guillermooo commented on #64
@rashwell Is this something that you would like to take up for the existing keys?

[2015-12-02 17:29] guillermooo opened #81 "renaming extension.ts to vim.ts"
Maybe we can rename `extension.ts` and whatever else necessary to call it `vim.ts` so that we can have command names like `vim.actions.d`, `vim.motion.dollar`, etc. Also, `vim.core.handleKey`, etc.

Minor thing, but would look consistent and we wouldn't have to type `extension` as often :-)

[2015-12-02 17:32] guillermooo opened #82 "add tokenizer for vim key names"
Must be able to tokenize `abc<C-m><cr><space><S-f>` etc.

[2015-12-02 18:28] jpoon commented on #81
:+1:

[2015-12-02 19:56] guillermooo opened #84 "convention for module names"
We have `these_names.ts` and `thisNames.ts`. Which one do we want to use? Can we follow a TS guideline or VSC team guideline instead of creating a new one?

[2015-12-02 21:02] rashwell commented on #64
I don't mind doing the foot work, I will try and present a data structure that I think will be useful for this later this evening.

[2015-12-03 11:27] jpoon opened #88 "Tests: unit tests are failing on Windows"
I suspect this is due to the differences in CRLF among the platforms. It maybe easier to test against the current location of the cursor rather then checking for the text.

[code]

[2015-12-03 11:32] #70 closed

[2015-12-03 11:33] jpoon commented on #70
We have tests that confirm that this has been fixed.

[2015-12-03 11:36] jpoon opened #89 "Motion: View not updated when moving cursor/caret to an area off screen"

[2015-12-03 19:20] jpoon commented on #19
Also just tried setting mimicking the block as a selection:

[code]

It sorta works but you still see the cursor, so....suboptimal -- css styling may be the way to go.

[2015-12-03 22:18] #89 closed

[2015-12-04 02:01] jpoon commented on #84
In the contributing.md, I've linked it to VS Code's guidelines

For the module/file name, it's not explicitly stated but looking at their source code, it s camelCasing (no underscore) so let's go with that.

`myClass.ts` and not ~~`my_class.ts`~~

[2015-12-04 02:39] jpoon commented on #17
We have a [contributing.md](https://github.com/VSCodeVim/Vim/blob/master/CONTRIBUTING.md) so please refer to that on how to get started.

[2015-12-04 02:39] #17 closed

[2015-12-04 02:40] jpoon commented on #84
As we modify the files, let's slowly rename them to follow

[2015-12-04 02:40] #84 closed

[2015-12-04 21:49] #88 closed

[2015-12-04 22:20] jpoon commented on #81
To clarify, are you suggesting a name change to the registered commands?

[code]

We had a similar discussion earlier (https://github.com/VSCodeVim/Vim/pull/16) and it was decided to follow the existing vs code command patterns (e.g. `editor.action.insertLineAfter`). But we can rethink those as well.

[2015-12-04 23:10] wangii opened #93 "0.3 doesn't work"
anyone else has same problem?
OSX

![screen shot 2015-12-04 at 23 09 30](https://cloud.githubusercontent.com/assets/26889/11603725/25c1fbe6-9adc-11e5-948f-17aa14fd3079.png)

[2015-12-04 23:14] jpoon commented on #93
Indeed. The same repros on my Windows machine. Looking into this right now; if I can't find the cause within the next hour or so, I'll revert this to published package to what was in 0.0.2

[2015-12-04 23:29] jpoon commented on #93
Ok, I just reverted package 0.0.3 and published a 0.0.4 which is the **same** as 0.0.2 as there's no way to unpublish things.

Thanks @wangii for letting me know I essentially broke everything :(. Still not sure what's causing this as it works during development.

[2015-12-04 23:57] guillermooo commented on #93
AFAICT, VSCodeVim stops working if Code stops opening a new buffer automatically on startup. I had to delete my `~/AppData/Roaming/Code` folder to get Code to create new buffers when running the extension in debug mode or running the tests. Weird stuff.

[2015-12-05 00:18] kimitake commented on #93
I encountered same "no handle" issue after I upgraded, but after I re-installed the plugin, it starts to work again.

[2015-12-05 00:25] guillermooo commented on #81
`extension.vim_w` `==>` `vim.w` or something like that. I think for that we need to change the name of `extension.ts`. But I'm not sure.

[2015-12-05 00:33] jpoon commented on #81
AFAIK, those are independent. What's important is that:

1) The command names that we choose don't collide with what VSCode already defines
2) They match with what's defined in package.json

[2015-12-05 02:02] wangii commented on #93
it's kind of strange. The first thing I did was to reinstall it (0.0.3) but no luck.
It works on new buffer and single file. whenever open a folder, it breaks.

[2015-12-05 08:40] jpoon commented on #93
Unfortunately, I haven't been able to reproduce this error by manually installing v0.0.2 then manually upgrading to v0.0.3.

@wangii are you still encountering this issue on v0.0.4?

[2015-12-05 10:51] wangii commented on #93
@jpoon v0.0.4 works fine.

[2015-12-06 09:05] jpoon commented on #93
I still haven't been able to find a repro which makes me hesitant to push out a new version.

If anybody has a repro, please share or if you are hitting this issue now, please share a screenshot of the contents of the vscodevim.vim extensions folder? On Windows, it's under:

[code]

[2015-12-07 00:51] wangii commented on #93
managed to installed the 0.0.3 and got the javascript console output. Hope it helps!
![screen shot 2015-12-07 at 00 49 53](https://cloud.githubusercontent.com/assets/26889/11616811/a6c61528-9c7c-11e5-98c8-a9359c5ad693.png)

[2015-12-07 01:23] jpoon commented on #93
@wangii Yay! Can you share repro steps? How did you install 0.0.3?

Mind sharing contents of /home/wangii/.vscode/extensions/vscodevim.vim/out/extension?

[2015-12-07 08:59] wangii commented on #93
Installation of v0.0.3:
1) download the 0.0.3 release from https://github.com/VSCodeVim/Vim/releases
2) unzip it to ~/.vscode/extensions/vscodevim.vim

I don't have the dir ~/.vscode/extensions/vscodevim.vim/out, but I got one after install v0.0.4. it appears to me that a module need to be transcompiled to js but somehow in v0.0.3 this step either didn't work, or forgotten.

[2015-12-07 09:21] snowiow opened #97 "alt-gr key combination not available"
Hi,
I wanted to finish up the german keybindings, because atm I'm not able to type any curlyies or brackets. I wanted to start adding keybindings for them to the package.json, but after some search in the [docs](https://code.visualstudio.com/docs/customization/keybindings) it seams  that alt-gr isn't supported at all as a meta key. Does anybody have an idea how this could be realized?

[2015-12-07 09:23] jpoon commented on #93
Yeah, that is to be expected. The zip file made available through the releases only contains source files. The zip is really just a GitHub release thing. When we publish the extension, vscode transpiles and builds a vsix and that is what is eventually used to install the extension.

You can do the same by downloading the vsix and opening it in code. `code vim-0.0.3.vsix`.

[2015-12-07 09:26] jpoon commented on #97
I would suggest filing an issue directly against VS Code.

[2015-12-07 09:30] wangii commented on #93
sure. here is the result:
![screen shot 2015-12-07 at 09 29 30](https://cloud.githubusercontent.com/assets/26889/11623482/18865f40-9cc5-11e5-92c1-bba534fe410b.png)
and the out dir:
[out.zip](https://github.com/VSCodeVim/Vim/files/53684/out.zip)

[2015-12-07 09:34] snowiow commented on #97
https://github.com/Microsoft/vscode/issues/1066

[2015-12-07 15:30] guillermooo commented on #97
https://github.com/Microsoft/vscode/issues/713

[2015-12-07 15:30] #97 closed

[2015-12-08 19:45] jpoon commented on #93
I've created a new 0.0.5 package available here: https://github.com/VSCodeVim/Vim/releases/tag/v0.0.5

I haven't yet pushed it out onto the marketplace. Installing 0.0.5 by itself seems to work fine. However, when I try to install it on top of 0.0.4, it blows up (but with a different error than above).

[2015-12-08 23:34] mloskot opened #98 "Add support for motion with jkl;"
Many of Vim users prefer the ergonomic `jkl;` over the historic `hjkl` mapping..

Would it be possible to add support for the former too, please?

I also use [VsVim](https://github.com/jaredpar/VsVim) extension with Visual Studio, and it is easy to configure it there with vimrc (or the specific vsvimrc file).

[2015-12-09 01:48] wangii commented on #93
v0.0.5 has the same problem as v0.0.4.
I uninstalled old version and installed v0.0.5 using the .vsix file.

screenshot:
![screen shot 2015-12-09 at 01 45 56](https://cloud.githubusercontent.com/assets/26889/11674234/b61d54be-9e16-11e5-81f3-3185eb9ae579.png)
and the out dir:
[out.zip](https://github.com/VSCodeVim/Vim/files/56246/out.zip)

[2015-12-09 08:53] jpoon commented on #93
@wangii. Still unable to repro this on my end. What are your machine specs? I'm on a Win10 machine.

In any case, seeing that error, it looks like it's prematurely trying to load the current selection. I just updated pre-release 0.0.5 (https://github.com/VSCodeVim/Vim/releases/tag/v0.0.5) if you want to give that a go.

Thanks again and I'm sorry that you have to be a guinea pig. I just can't for

[2015-12-09 18:13] kimitake commented on #93
I can reproduce upgrade issue on 2 PCs, both Win10 VSCode 0.10.3, especially one of them has vim extension only.
The followings are steps.

- install 0.0.4 from market, and then restart vscode, make sure vim plugin works
- open 0.0.5 extension file and install (Note: vscode does not require to restart)
- restart vscode, but vim plugin won't work anymore

During upgrading, some files of extension f

[2015-12-09 19:00] jpoon commented on #93
Thanks @kimitake! What you describe is what I see as well. To summarize, there seems to be two issues being reported:

1) Manually upgrading an extension blows up. Especially considering  (https://github.com/Microsoft/vscode/issues/1111).
2) The issue in which @wangii is describing where the current selection isn't available. I haven't been able to reproduce this but blindly tried to fix it with h

[2015-12-09 19:12] wangii commented on #93
@jpoon the issue is fixed with 9bae9fb. thank you so much!

[2015-12-09 19:26] jpoon commented on #93
Sweet! I'll push this new version out in a bit.

[2015-12-11 04:36] pottereric opened #99 "Question about tests"
I just forked and cloned the repo. when I run the gulp command, the only test suites that are run are the command-line lexer and the command line scanner suites. Is there a reason the other tests are being run?

Is there a way to run all of the tests?

[2015-12-11 05:19] jpoon commented on #99
Refer to https://github.com/VSCodeVim/Vim/issues/15 for all the history.

As for running all the tests, you'll need to run them inside [VSCode itself](https://code.visualstudio.com/docs/extensions/testing-extensions)

[2015-12-11 11:54] jpoon commented on #93
Ok, I just pushed v0.0.5 out. Hopefully no issues arise. The one thing that I have found is that updating extensions doesn't seem to work.

If you come across that, delete the vscodevim.vim extensions folder and then reinstall.

Windows: `C:\Users\jason\.vscode\extensions\vscodevim.vim`

[2015-12-11 11:54] #93 closed

[2015-12-13 08:22] #99 closed

[2015-12-14 20:06] AndersenJ opened #100 "Macro support"
It may take a long time before anyone can get to this, which is fine, but it would be great if this plugin eventually supported Vim macros.

[2015-12-15 00:49] chantisnake opened #101 ".vimrc?"
Can you read default vimrc?

[2015-12-15 23:01] jpoon commented on #19
https://github.com/VSCodeVim/Vim/pull/102

[2015-12-20 11:56] pottereric opened #103 "Implement `e`"
I'd like to have the "e" motion implemented.I've submitted a pull request that imlements the feature.

[2015-12-24 11:46] jpoon commented on #15
With Dec. update, possible to run tests with Travis CI (https://code.visualstudio.com/Docs/extensions/testing-extensions)

Caveats:
* Does not work on Windows (e.g. AppVeyor)
* activeTextEditor is null => any UI tests which insert/delete will fail :(

[2015-12-27 07:23] corymickelson opened #108 "character position does not always persist on commands "j","k""
When applying motions commands in normal mode, such as to the end of a line: "$", beginning of a word: "w", or to the first character of a line "0" followed by the up or down commands "j", "k", the character position is off be the change from the previous command ("$", "0", "^", "w", "b", etc).

let's use these two lines below for clarification, and success criteria:

Alpha one test
Bravo two

If

[2015-12-27 21:48] corymickelson commented on #108
So, at first glance it appears that the prevColumn is not always being set when executing commands that move the cursor multiple positions. I will start on this, if anyone here believes I am going about this wrong please let me know how you believe it should be solved. Thanks

[2015-12-27 23:05] corymickelson commented on #108
Created pull request to fix this and add "e", "0" to move to beginning of line, and fix "^" to move to first character of current line

[2015-12-28 00:33] corymickelson opened #110 "implement forward commands"
/** Ooops, more correctly called "find" motion, as "F" searches in a backwards pattern, while "f" searches in a forward pattern**/

f + character to move forward to.
example
[code]
if we are at the top, anywhere on the function line, and press ( f {  ), the cursor should move to the first matching character, which happens to be at the end of the first line, but to complete this functionality if yo

[2015-12-28 07:41] #103 closed

[2015-12-28 07:41] #108 closed

[2015-12-28 07:42] jpoon commented on #108
@corymickelson Thanks! Awesome work!

[2015-12-29 04:39] CamoSplatty14 opened #111 "Using $ and ^ make the cursor move to the last line that 'insert' mode was used on"
I made [this gif](https://cloud.githubusercontent.com/assets/7199920/12029580/4e1e74dc-adbc-11e5-90ac-0a47733eb1f1.gif) to help see.

When I use $ or ^, it moves the cursor to the the right spot, but only on the last line where I used insert mode. I made the gif small so you can see on the bottom left when I'm using insert mode and when I'm not.

If it helps, I'm on Linux Mint 17.2 x64.

[2015-12-29 21:30] #111 closed

[2015-12-29 21:32] jpoon commented on #110
:+1:

[2015-12-30 05:51] #81 closed

[2015-12-30 05:51] jpoon commented on #81
As it's a minor issue, closing this as won't fix. Feel free to bring it back if you think otherwise.

[2016-01-02 10:23] #15 closed

[2016-01-02 10:40] jpoon commented on #101
No .vimrc. Instead, configurations will go into the `settings.json`. Readme has been updated on the settings we have and how to configure.

[2016-01-02 10:40] #101 closed

[2016-01-02 17:14] BKaraargirov opened #117 "Fat cursor during Normal mode"
It is possible for my VS code to be bugged, but when I am in Normal mode the cursor is the same as is in insertion mode. I think its quite more comfortable when there is a visual distinction in the cursor as well, and not only in the information bar at the bottom.
It would be nice to have this feature - if not by default, at least in the configuration level.

[2016-01-02 18:54] corymickelson opened #118 "Test runner"
Anyone know how to properly test motion commands as in test/motion.test.ts? I see the comment in the gulp file that tests with dependencies on vscode do not run, but is there a way to get this to work? Would be nice to have all tests run before merging PR

[2016-01-02 19:15] corymickelson commented on #118
Never mind, I am a couple commits behind. See testing has already been addressed, closing comment.

[2016-01-02 19:15] #118 closed

[2016-01-03 01:34] jpoon commented on #117
Thanks. We are tracking that issue with https://github.com/VSCodeVim/Vim/issues/19

[2016-01-03 01:34] #117 closed

[2016-01-03 08:17] jpoon commented on #118
You can launch tests using VS Code: https://code.visualstudio.com/docs/extensions/testing-extensions. Tests are also run on Travis (CI). The gulp command that you are referring to has been removed.

[2016-01-03 08:18] #19 closed

[2016-01-06 07:20] jpoon commented on #98
I can think of two ways in which we can implement this.

1) config in the user settings (similar to how we do keyboard mapping) that denotes if it is "ergo mode", then bind the proper keys. Simple and easy, but the better way might be..
2) Support `map`, `nmap` etc

[2016-01-06 09:44] segmentationfaulter opened #123 "Ctrl+C does not put you in command mode"
In vim you can use Ctrl+C as the key combination to switch to command mode from any other mode, but it is not supported with your extension, please support it. Thank you

[2016-01-06 12:08] kedde opened #124 "Missing danish keyboard layout"
Adding a pull request soon

[2016-01-06 20:24] jpoon opened #126 "suggest window is displayed despite not having any suggestions"
Tracks: https://github.com/Microsoft/vscode/issues/997

[2016-01-06 22:03] #124 closed

[2016-01-07 00:45] jpoon opened #127 "`x` at end of line doesn't work"

[2016-01-07 14:07] AntonAderum opened #128 "Keybinding discussion (non-US mostly)"
Hi!

(Note: This became quite long. but the question have quite a lot of history in it so I had a hard time making it shorter...)

We have started using vscode as our developing tool at work, and since im a long time vim user I've been looking for a good vim-extension. As far as I can tell this is the best and most ambitious project.

However the keybindings for non-us keyboard are not optimal. I

[2016-01-07 14:08] AntonAderum commented on #128
Let me know if you have any questions, I realize this became quite long and maybe over complicated.
Maybe I spent to much time thinking about it.

[2016-01-07 16:21] bruparel opened #129 "Visual Selection of Text lines"
The visual selection mode does not seem to work.  I tried 'v' shift-v in the command mode to highlight characters and lines but did not work for me.  Is that functionality missing?  The documentation mentions visual mode several times so I am assumed that it works.  If it is not available yet then what is the alternate way of selecting text in executing vim commands on the selected text?

[2016-01-07 19:27] jpoon commented on #129
Hey @bruparel. Thanks for filing the issue.

As we haven't yet implemented an pertinent commands or motions for visual mode (yank, paste, etc), I decided to remove the mode entirely in the last release.

[2016-01-07 19:47] bruparel commented on #129
@jpoon Thanks Jason.  I really appreciate your work.  For an "old" VIM user, this is a great gift.  Please keep up the good work.

[2016-01-07 21:12] jpoon commented on #128
Hey @AntonAderum.

I think what you suggested is the best course of action. For whatever keys the extension wishes to handle, they need to be registered with VSCode in the package.json and a respective handler defined in [extension.ts](https://github.com/VSCodeVim/Vim/blob/master/extension.ts).

[2016-01-07 22:14] guillermooo commented on #128
Just a quick note that we may not need the internal key translation done by VSCodeVim any more. I've fallen behind with the current status regarding key handling in VS Code, though, so this is just a heads-up.

[2016-01-07 22:16] jpoon commented on #128
@guillermooo :open_mouth:

What's the new way of handling these things then?

[2016-01-07 22:26] AntonAderum commented on #128
@jpoon Great!

@guillermooo
As far as I can tell (with what i have been reading last few days) you will still need to take internal key and translate it to the proper key via handlers. I'd be delighted if it wasnt the case though.

[2016-01-11 01:45] lf94 commented on #123
+1 this is a major feature for me. It pains me to have to use ESC all the time when Ctrl+C is an easier reach.

[2016-01-12 07:41] AntonAderum commented on #123
This is an easy thing to implement I would guess, but maybe it should have a setting attached to it so that people can keep the "Ctrl+c / Ctrl-v" functionality if they want to?

[2016-01-12 08:47] kedare commented on #128
I saw some issues of this kind, for example on my keyboard (Spanish) the ":" and "<" are reversed when using the VIM plugin (And I never had any other problem of this kind somewhere else in VSCode), this is quite a problem :)

[2016-01-16 23:09] dagadbm opened #131 "Request - Keyboard pt-PT (QWERTY)"
Hello guys,

Will you be impementing a pt-PT QWERTY keyboard any time soon?

Regards,

dagadbm

[2016-01-20 00:30] jpoon commented on #131
I don't believe anybody is actively working on this.

[2016-01-26 19:14] markrendle commented on #123
I'd have a hard time if Ctrl+C suddenly stopped being Copy.

[2016-01-27 12:33] markrendle opened #132 "Use VSCode native block cursor setting"
Adding this as a place-holder because there should be a new release of VSCode this weekend which provides a block cursor style out of the box.

[2016-01-27 18:52] jpoon commented on #132
:dancers:

[2016-01-30 18:53] johnfn commented on #123
If you're using Vim mode, you definitely should not be using ctrl-c as copy. That's what `y` is for!

[2016-01-30 19:33] jpoon commented on #123
As per Vim docs:

[code]

[code]

[2016-02-01 08:47] AntonAderum commented on #123
It should be default to abort, however I think it's a good idea to at least give the option to the user to disable ctrl-c to be abort. I think can add value to some users.

[2016-02-07 13:19] imacnu opened #135 "I cant write ;"
In spanish keyboard not is posible write ; instead visual code whir this extension write <

[2016-02-15 19:55] magbeat commented on #135
The same happens with a german keyboard layout.

[2016-02-16 03:07] luxueyan opened #146 "multiline editing does not work"
The vscodevim extension was installed, but the mutil edit can't work ,

[2016-02-16 21:12] jpoon commented on #123
Closed with https://github.com/VSCodeVim/Vim/issues/139

[2016-02-16 21:12] #123 closed

[2016-02-16 21:13] jpoon commented on #127
Fixed with https://github.com/VSCodeVim/Vim/issues/127

[2016-02-16 21:14] jpoon commented on #135
Related to https://github.com/VSCodeVim/Vim/issues/128

[2016-02-17 21:03] jpoon opened #148 "Continuous Delivery"
* Setup a stable branch
* Whenever merge happens, build, test, and push update to VSCE

[2016-02-18 06:06] johnfn commented on #146
I'm not sure what this means. Are you referring to visual block mode?

[2016-02-18 06:06] johnfn opened #149 "When you go into insert mode, the block cursor should disappear"
Really trivial bug, just leaving it here so I (or someone else) remembers.

[2016-02-18 07:55] jpoon commented on #146
VSCode also comes with [Multi-cursor](https://code.visualstudio.com/Docs/editor/editingevolved) which doesn't seem to work after installing this extension.

[2016-02-18 07:58] jpoon opened #151 "Move to Typings. TSD has been deprecated."
https://github.com/typings/typings

[2016-02-18 08:03] luxueyan commented on #146
No!When it is at command mode,i press the shortkey "command+d"  for multiline selecting. Then i need change the content,i press "i" to insert mode, i dose not work! Only the first cursor update.

ps: mac os system

[2016-02-18 08:34] jpoon commented on #132
I saw that the PR got merged but how does one use it and toggle between the different cursor styles?

[2016-02-18 08:40] #151 closed

[2016-02-20 08:41] segmentationfaulter opened #155 "'r' key does not put you in replace mode."
In vim, you can use 'R' to switch to replace mode and 'r' to replace a single character, both of these keys don't work.

[2016-02-20 08:44] segmentationfaulter opened #156 "How to turn off info bar on saving a file?"
I save my code very frequently and info bar appears every time telling me that code is saved. It gets very annoying because I save almost ten times/mintue. Is there a way to turn it off on saving code?

[2016-02-22 10:29] segmentationfaulter opened #157 "After installing this extension, caps lock stops working."
I have installed VSCode (version 0.10.8) on Ubuntu 15.10 via umake, after installing this extension, caps lock is not honored in main code editing area. The caps lock starts working again after I uninstall this extension.

[2016-02-22 12:35] segmentationfaulter opened #158 "Curly braces for arrow functions are not auto completing/pairing."
On installing this extension, curly braces are not auto-completing/pairing for functions declarations.

[2016-02-22 15:34] raghav135 opened #159 "Cannot do "search/find" in command mode"
Hi,

When I am in command mode, how do I search?

ctrl+f does scroll
/ automatically moves to insert mode..

Can you kindly enable "/" to do search?

[2016-02-22 17:19] jpoon commented on #158
Auto-completing is usually a function of your IDE. Highlighting a matching brace is something in which this extension could do.

[2016-02-22 17:20] jpoon commented on #157
Doesn't seem to work on Windows either.

[2016-02-22 17:22] jpoon commented on #156
What info bar? Can you share a screenshot?

Visual Studio Code autosaves in the background by default. This can be configured using `files.autoSave`.

[2016-02-22 17:22] jpoon commented on #155
As per the current README, it's not something we support at the moment.

[2016-02-22 17:22] #149 closed

[2016-02-23 02:36] tma-isbx commented on #158
It looks like VSCode will autocomplete (), {}, []. But with the extension only () and [] get autocompleted. {} stops working.

[2016-02-23 07:47] johnfn commented on #158
@jpoon it sounds to me like the problem is not that we aren't autocompleting, but rather that we're inhibiting autocompletion that was previously happening. We need some way to say 'alright, we didn't handle this key, visual studio code you do whatever you were gonna do', but I couldn't find anything like that the last time I looked.

[2016-02-23 13:27] schickling commented on #101
I think it is not just me when I say that this (missing) feature is critical in order to bring existing VIM users to VSCode.

[2016-02-24 05:32] neptunian opened #161 "Why is yank not supported?"
Yank = yy?

[2016-02-24 13:39] sWW26 commented on #156
I think they're asking how can they disable this notification.

![image](https://cloud.githubusercontent.com/assets/6764717/13286911/0757961a-dafc-11e5-8a48-ce84924803e1.png)

[2016-02-24 14:04] segmentationfaulter commented on #156
@sWW26 exactly, it is very annoying if you save too frequently.

[2016-02-25 08:46] aakashsigdel commented on #18
From my experience I can tell that neovim is very stable in mac OSX and in linux. And I would love to see it being integrated with vscode.

[2016-03-01 14:19] frarees commented on #135
@imacnu can you try #169?

[2016-03-01 18:41] WonSong opened #170 "Change-Inner support"
Does VSCodeVim have plan to support change-inner commands like ```ciw```, ```ci"```?
Didn't see it listed in the project status page. Thanks!

[2016-03-03 01:32] cjowens commented on #158
@jpoon @johnfn Yes it's the plugin that is blocking VSCode's ability to autocomplete matching {} [] (), etc, when "editor.autoClosingBrackets" is set to true. However, it seems to be an issue all vim plugins have at the minute.

[2016-03-03 07:04] T0toro opened #171 "Incorrect work with "Programmers Dworak" keybord layout"
The part of keys works as on "QWERTY" and part as on "Programmers Dworak".

Tested on:
* Ubuntu 15.10
* Mac OS X 10.10

[2016-03-03 11:21] steinso opened #172 "Mapping jk to esc in input mode"
`    { "key": "j k", "command": "extension.vim_esc", "when": "editorTextFocus" },`

I have used this to map jk to Esc, however this also prevents J from working in command mode, due to VS Code waiting for the next chord.

The problem seems to be that JK is mapped to ESC when "editorTextFocus", which does not distinguish between normal and input mode. This makes JK mapped in command mode as well.

[2016-03-03 22:52] jpoon commented on #157
@segmentationfaulter Thanks for filing the issue. Seems like the bug lies within VSCode, issue filed with them to track.

[2016-03-04 00:15] #135 closed

[2016-03-04 09:33] jpoon opened #173 "AppVeyor Builds are Failing"
Tracks: https://github.com/Microsoft/vscode/issues/3708

[2016-03-04 10:10] frarees commented on #135
@imacnu fix included in the lastest published version (v0.0.12).

[2016-03-04 10:36] imacnu commented on #135
Yeeeeeees it works. Thank you so much!!

[2016-03-04 12:30] PorkyProgs opened #176 "Difficulty to use VIM on Windows 7 client"
Hi,
 I'm not really sure where I should ask this question, but this seams to be the best place since it concerns the VIM extension,
I installed the VIM extension on my Windows 7 SP1, .Net 4.5 Client with Visual Studio Code version 0.10.8 and when I try to edit a file I constantly receive the following warning for each key that I press:

I checked in my profile .vscode\extensions\vscodevim.vim-0.0.

[2016-03-04 18:09] jpoon commented on #176
Have you tried uninstalling and reinstalling? :smile:

I am totally *serious*. I've noticed that sometimes the installation is a little finicky. You should see something like this in your extensions folder (`.vscode\extensions\vscodevim.vim-0.0.11`):

<img width="164" alt="extensions_folder" src="https://cloud.githubusercontent.com/assets/85374/13535796/1f1519e8-e1f1-11e5-8660-b3462f77bc04.png">

[2016-03-04 18:44] #173 closed

[2016-03-04 18:49] jpoon commented on #171
We don't have a dvorak keyboard at the moment.

[2016-03-04 18:50] jpoon commented on #172
Nope.

There's a discussion going on to request this https://github.com/Microsoft/vscode/issues/3600 and a bunch of VIM-related issues on VSCode (https://github.com/Microsoft/vscode/labels/VIM)

[2016-03-04 18:57] PorkyProgs commented on #176
hi jpoon, That was an interesting suggestion, I had already done that however it did not resolve the problem, then when I looked at the problem close I discovered that I was missing the package.json file. I then created this file by making a copy from the github version  online.
Perhaps I should uninstall, reboot and then reinstall again? Nevertheless, it's going to have to wait untill Monday as t

[2016-03-04 18:59] jpoon commented on #176
Yeah, I've noticed that sometimes with VSCode extension installation. Not entirely sure cause it happens once in a blue moon and I can't find repro steps :(

[2016-03-04 23:27] cflewis opened #179 "'c' key is not on roadmap"
The `c` key binding isn't on the roadmap, and it's super good.

http://vim.wikia.com/wiki/Quickly_change_word_or_line

I use `cw` and `caw` all the time. Can we get it on the roadmap?

[2016-03-05 19:26] T0toro commented on #171
I use the ordinary keyboard with "Dvorak" layout.

[2016-03-06 10:23] T0toro commented on #171
Not work special symbols in "Dvorak" and "Programmers Dvorak"  layout instead of them printing "QWERTY" symbols.

Then i have write symbol "." instead of them i receive symbol "e", this happens also to other special symbols:
- ";": "z"
- ".": "e"
- ",": "w"
- and etc.

[2016-03-07 07:54] khisakuni opened #181 "Can't highlight last character of a line."
I am unable to highlight the last character of a line without having trailing spaces. This is the case both when trying to move to the last character, and trying to select the last character in visual mode.

[2016-03-09 07:33] chevex commented on #159
+1

[2016-03-09 09:36] NickClark commented on #179
+1 Long time Vim user, and this is another feature I can't live without

[2016-03-09 11:36] Tarmean commented on #170
[I'd widen this to general text objects, to be honest. ](vimdoc.sourceforge.net/htmldoc/motion.html#object-select)

[2016-03-10 07:28] #156 closed

[2016-03-10 07:41] jpoon commented on #176
As I haven't heard back, closing this issue.

[2016-03-10 07:41] #176 closed

[2016-03-10 07:43] jpoon commented on #129
Fixed with https://github.com/VSCodeVim/Vim/pull/144

[2016-03-10 07:43] #129 closed

[2016-03-10 07:46] jpoon commented on #170
We'll use issue https://github.com/VSCodeVim/Vim/issues/179 to track this.

[2016-03-10 07:46] #170 closed

[2016-03-10 14:23] bruparel commented on #129
@jpoon This is awesome :)  How do I update my VIM plugin?  By regular update extensions command?

[2016-03-10 19:31] jpoon commented on #129
https://code.visualstudio.com/Docs/editor/extension-gallery

[2016-03-11 00:04] jpoon commented on #129
@bruparel yeah, those things are not implemented yet.

[2016-03-11 00:04] jpoon commented on #129
@trivoldus28 all kudos goes to @johnfn for his work.

[2016-03-11 10:06] kevinkucharczyk opened #184 "Commands preceded by number only perform commands once"
For example, I would like to use **5A** to append some text five times - which, according to the readme, is supported. However, the 5 is being ignored and my text is only appended once.

Another example is trying to move forward an x amount of words via **6w** (for 6 words). Again, the number is ignored and I'm only moving one word.

I'm on Windows 7 and VS Code 0.10.10.

[2016-03-11 13:31] slumtrimpet commented on #161
Yes please :+1:

[2016-03-11 21:11] jpoon commented on #184
Not something we support right now but it is on our roadmap.

[2016-03-14 16:15] AntJanus opened #185 "Remapping keys / vimrc support"
I understand that full vimrc support is impossible but I'd love to be able to remap some of the keys that I use often. For example, it's very common to use `,` or `;` instead of `:`.

[2016-03-15 20:51] #179 closed

[2016-03-16 10:38] bradphelan opened #187 "Enhancement: Add f F t T motions"
I've tried to start on this but got stuck on the ability to wait for any key after the __f__ key is pressed. See stack overflow question.

http://stackoverflow.com/questions/36033180/is-it-possible-to-put-in-a-wildcard-keybinding-for-visual-studio-code

[2016-03-16 10:56] bradphelan commented on #187
Hmmm I think this can be handled by this pull request.

https://github.com/VSCodeVim/Vim/pull/186

[2016-03-16 13:37] jasondearth commented on #159
+1

[2016-03-16 23:06] tma-isbx commented on #132
This sample project has the details: https://github.com/alexandrudima/vscode-vim

[2016-03-16 23:08] tma-isbx opened #188 "Switch to new VSCode APIs to better support input processing and autocompletion"
See sample for usage of new APIs: https://github.com/alexandrudima/vscode-vim

[2016-03-16 23:12] jpoon commented on #188
I haven't looked into the new APIs, but I'm imagining the worst and that there's going to be a lot of work involved with upgrading to the new APIs.

[2016-03-16 23:18] tma-isbx commented on #188
I think it is work that will be ultimately necessary ;)

But if the work that was needed for amVim ( https://github.com/aioutecism/amVim-for-VSCode/pull/50/files ), it doesn't seem like it should be TOO bad.

[2016-03-17 20:42] bradphelan commented on #181
When I'm on the last character of a line and hit __x__ it doesn't delete the character. If I'm on the second last character and hit __x__ it does delete the character. I guess it's the same bug.

[2016-03-18 07:56] jpoon commented on #181
Closed with https://github.com/VSCodeVim/Vim/pull/182

[2016-03-18 07:56] #181 closed

[2016-03-18 10:31] jpoon commented on #110
Will use this to track this feature: https://github.com/VSCodeVim/Vim/issues/187

[2016-03-18 10:31] #110 closed

[2016-03-18 10:32] #159 closed

[2016-03-22 00:17] chevex commented on #127
Is this fix in the live plugin? I'm experiencing this issue but maybe it's just not released yet?

[2016-03-22 02:46] jpoon commented on #127
Looks like a regression with the latest release :(

[2016-03-22 04:46] #127 closed

[2016-03-22 04:48] jpoon commented on #127
Ok, pushed an update. This should be fixed in 0.0.15.

I noticed a couple of other regressions with the delete operators -- sorry -- I'll try a fix as soon as I can.

[2016-03-22 04:48] chevex commented on #127
Confirmed to be working as expected now. Thanks!

[2016-03-24 03:05] biozal commented on #161
plugin is really great but highly miss yank

[2016-03-24 04:03] rockus123 opened #193 "Need yank and paste command. Thanks."
yy - yank (copy) a line
2yy - yank 2 lines
y = yank = copy
Press P to paste before the cursor, or p to paste after.

[2016-03-24 06:27] prashantv opened #194 "Typing an opening or close brace triggers autocomplete menu, doesn't auto close brace"
When I type a brace (`{` or `}`), I expect the matching brace to be inserted, but instead an autocomplete menu pops up.

This makes it really hard when entering blocks (e.g. an if condition), since I typically want to type "if [condition {" followed by enter, but since the autocomplete menu pops up, the enter doesn't insert a new line but the first autocomplete selection.

![brackets-bug](https://

[2016-03-24 07:24] jpoon commented on #194
Thanks for reporting the issue! I'm going to close as a duplicate in favor of https://github.com/VSCodeVim/Vim/issues/158 as that was filed first :).

This is inherently due to how VSCode handles extensions, their updated extension APIs in 0.10.12, but we'll need to do work to update to those APIs as well which is tracked by https://github.com/VSCodeVim/Vim/issues/188.

[2016-03-24 07:24] #194 closed

[2016-03-24 07:25] jpoon commented on #193
Thanks for filing this issue! We're working on it. In the meantime, I'm going to close this issue as a duplicate in favor of https://github.com/VSCodeVim/Vim/issues/161 as that was filed first :smile:

[2016-03-24 07:25] #193 closed

[2016-03-24 07:26] #148 closed

[2016-03-24 12:53] smibe commented on #161
Need yank and paste. this is a killer feature for me. I would be glad to help implementing this

[2016-03-25 15:43] raghav135 commented on #159
Hi,

Thanks for fixing it.

But there seems to be an issue.

it is opening "search in files" instead of "search current file".

This is really not usable :(

This is the only issue because of which i am unable to use this plugin.

Regards,
Srinivasa Raghavan.

[2016-03-25 15:47] raghav135 opened #196 ""/" not searching current file but it searches "project files""
Hi,

Currently when i press "/" in escape mode, it does "search in all files" instead of search in "current file".
Can you kindly look into this?

Kind Regards,
Srinivasa Raghavan.

[2016-03-25 17:53] chevex commented on #159
I've been meaning to stop by here and say this same thing, so +1 on the feedback. Definitely expected to open the search in file dialog rather than the search through files sidebar tab.

[2016-03-28 06:29] makosblade opened #197 "d{motion} support"
Just wondering what the timeline looks like on the rest of the motions (dt{char} and dj/dk in particular).

Thanks!

[2016-03-31 19:13] songgao commented on #18
Another happy `neovim` user here. I have `alias vim=nvim` and never had any serious (if any at all) problems. The team is very active and responsive to issue reports. Not sure about API stability though.

[2016-04-02 18:50] srepollock opened #198 ":wq"
WriteQuit command not supported. It would be nice if we could edit them

[2016-04-04 09:36] Mulkave commented on #197
:+1:

[2016-04-07 04:38] objcchobo commented on #159
+1 here. I'm working with many files and 'find in files' takes too long. Thanks!

[2016-04-10 18:30] dpbackes opened #199 "dw moves cursor to end of line"
Using `dw` moves the cursor to the end of the line.

In this example, the cursor should finish over the first `a`

![deletword](https://cloud.githubusercontent.com/assets/3519540/14412093/fc6b5ca8-ff1f-11e5-9495-cca8b75f7518.gif)

[2016-04-10 22:41] dpbackes opened #201 "Transitioning to Normal Mode at End of Line"
When transition from insert to normal mode at the end of a line, the cursor moves back two columns instead of just one. This also affects `dw` when deleting the last word on a line.

![normalmode](https://cloud.githubusercontent.com/assets/3519540/14413551/48094a44-ff43-11e5-97ef-e19776fe81bd.gif)

[2016-04-12 10:24] transtone opened #203 "how to uninstall or disable it?"
I can't uninstall it.

[2016-04-14 18:52] Lineaweaver opened #204 "Pressing dj or dk does not delete lines"
In all other versions of VIM/VIM plugins I have used dj would delete the current line and the line below it.  However, it does not appear to work in this plugin.

[2016-04-14 20:54] patoupatou commented on #185
I love remapping jk to <esc>, for me I can't use VSCode until I can remap keys like vim.

BR

[2016-04-15 10:15] tnngo2 commented on #196
It is also the most annoying issue to me.
I've just created a pull to fix it.
https://github.com/VSCodeVim/Vim/pull/205

Hope it will be merged to master soon.

[2016-04-15 12:04] Wayt commented on #161
definitely need it

[2016-04-15 17:22] dayyan commented on #171
I believe what @T0toro is saying is that parts of the dvorak keyboard work correctly and parts don't.

In my case and probably his: the QWERTY keys incorrectly are still QWERTY in dvorak when using this plugin.

Looking forward to the enhancement, thanks @jpoon!

[2016-04-16 11:05] raghav135 commented on #196
+1

[2016-04-17 08:11] mccart commented on #161
yank and paste is must have...

[2016-04-18 17:02] #199 closed

[2016-04-18 17:42] jpoon commented on #196
Closed with https://github.com/VSCodeVim/Vim/pull/205. Will push out a new release soon.

[2016-04-18 17:42] #196 closed

[2016-04-18 18:19] jpoon commented on #203
https://code.visualstudio.com/Docs/editor/extension-gallery

To uninstall an extension, bring up the Extensions: Show Installed Extensions dropdown and click the x button in the lower right of the extension entry. This will uninstall the extension and prompt you to restart VS Code.

[2016-04-18 18:19] #203 closed

[2016-04-19 08:05] aeschli opened #206 "RangeError in readLineAt"
From our error telemetry:

RangeError
 at Function.readLineAt (\vscodevim.vim-0.0.15\out\src\textEditor.js:66:19)
 at Function.getLineLength (\vscodevim.vim-0.0.15\out\src\motion\position.js:164:51)
 at Position.getLineEnd (\vscodevim.vim-0.0.15\out\src\motion\position.js:117:49)
 at Motion.redraw (\vscodevim.vim-0.0.15\out\src\motion\motion.js:84:62)
 at Motion.position (\vscodevim.vim-0.0.15\out

[2016-04-19 08:05] aeschli opened #207 "Cannot read property 'document' of null"
Fom our error telemetry:
TypeError: Cannot read property 'document' of null
 at Function.readLineAt (\vscodevim.vim-0.0.15\out\src\textEditor.js:65:53)
 at Function.getLineLength (\vscodevim.vim-0.0.15\out\src\motion\position.js:164:51)
 at Position.getLineEnd (\vscodevim.vim-0.0.15\out\src\motion\position.js:117:49)
 at Motion.redraw (\vscodevim.vim-0.0.15\out\src\motion\motion.js:84:62)
 at Moti

[2016-04-19 10:48] hexinatgithub commented on #158
Yes,This right.Begin I think is the VSCode bug,because I begin use VSCode only a day.Then I download a new VSCode on windows, I find that all work, then I think maybe it's the plugin bug.Then I uninstall one by one, finally I find it is vim plugin.Trouble me a long time.

[2016-04-19 11:49] hexinatgithub commented on #146
Yes, there is a problem with this plugin, I type the for and use VSCode build-in snippet, the multi edit cann't work.Like this:
[code]
then build-in snippet will select all index, and you can multi edit, but when you type only the first cursor update, and rest are gone.
[code]

[2016-04-19 12:04] hexinatgithub commented on #146
And the other situation is that when you type **for**,use the snippet
[code]
and type tab skip set index, and will select the array, then you change the array, only the first will change, and then you type enter, the rest will change, but the word will placed before cursor, and the most import is that, the inserted word will replaced the characters before cursor, like follow code, it will replaced

[2016-04-24 16:34] ericwooley commented on #146
VI with multi cursor mode is extremely powerful.

This bug is pretty much the only thing keeping me from switching from atom.

[2016-04-26 21:18] #201 closed

[2016-04-30 21:27] stapelberg opened #210 "scroll-cursor commands (zt, zb) don't work"
Vim has handy commands for scrolling without moving the cursor, e.g. `zt`, which scrolls the screen so that the line with the current cursor is placed as the first line. E.g., I often do actions like `/main(<CR>zt`, so that I can see as much of the main function as possible.

Would it be possible to implement `zt`, `zb` and `zz`?

Thanks!

[2016-05-02 00:12] ozkar99 commented on #199
I am still having this issue, with build 0.0.15, i see the PR is already merged maybe fixed in next release?

[2016-05-02 20:02] jpoon commented on #199
@ozkar99 yes, haven't had the chance to push a release out yet -- fixed in the main but not yet released. :soon:

[2016-05-03 02:23] ozkar99 commented on #199
@jpoon allright, thats awesome to hear :+1:

[2016-05-03 23:25] jpoon commented on #198
This should actually already be implemented -- there may be a bug.

[2016-05-04 05:00] arcseldon commented on #161
Show-stopper.

[2016-05-04 05:00] arcseldon commented on #193
Show-stopper.

[2016-05-04 07:17] jpoon commented on #161
Fixed in https://github.com/VSCodeVim/Vim/pull/208 and in version 0.0.16

[2016-05-04 17:16] GaryFurash opened #213 "Yanking"
How do you copy text? I've tried yy but no luck.

[2016-05-04 17:47] mccart commented on #161
I have vscodevim 0.0.16 installed in vscode.
yyp does nothing - uhmmmm...

[2016-05-04 19:54] jpoon commented on #213
https://github.com/VSCodeVim/Vim/pull/208 implemented 'c' and 'p'. 'yy' still needs to be implemented.

[2016-05-04 20:09] jpoon commented on #161
Yeah, my apologies, I overzealously closed this issue. The PR and latest release implemented 'c' and 'p' but not 'yy'.

[2016-05-04 20:09] jpoon commented on #213
Using https://github.com/VSCodeVim/Vim/issues/161 to track.

[2016-05-04 20:09] #213 closed

[2016-05-05 15:21] GaryFurash commented on #213
Thank you!

[2016-05-08 02:07] tunz commented on #127
I think it does not work in 0.0.16 version of OS X vscode. Is it fixed?

[2016-05-08 17:50] sachin21 opened #214 "I think CTRL-d should be half-page-down"
Original Vim do have a its binding.
Why not use `CTRL-d`?

[2016-05-12 11:13] Gouthamve opened #218 "Key bindings to collapse and expand code blocks"
I think it would be amazing if this was possible.

[2016-05-15 08:17] adiviness opened #220 "Debugging extension from vscode causes some keys to be gobbled"
Debugging from within vscode with no configurations set causes certain key presses to never have an effect or get shown in the vscode buffer. Only keys such as `(` or other symbolic characters get added to the buffer.

[2016-05-16 08:02] #220 closed

[2016-05-17 19:19] #218 closed

[2016-05-18 03:14] forestsource opened #223 "Can't use underscore key"
I have Visual Studio Code(version 1.1.1).
It display "shift+oem_102"(without ") when i input underscore with JIS keyboard layout.

[2016-05-18 14:24] rosedo commented on #131
fr-FR (AZERTY) would need a lot of mappings! Why doesn't it just inherit the keyboard at least for insert, or use virtual keys or whatever works.

[2016-05-19 01:57] #223 closed

[2016-05-19 08:55] jpoon commented on #198
`w` is implemented but not yet `wq`. Not a bug, just actually not implemented :)

[2016-05-19 10:11] #157 closed

[2016-05-19 11:49] jpoon commented on #98
Keybindings can be overridden for a mode by supplying a {string: string} object defining what key or keys should perform what action when pressed.

Example:

{
    "vim.normalModeKeybindings": {
        "d": "DeleteChar",
        "D": "DeleteLastChar"
    },
    "vim.insertModeKeybindings": {
        "e": "InsertAtCursor",
        "E": "InsertAfterCursor"
    }
}

[2016-05-19 11:49] #98 closed

[2016-05-19 11:56] mloskot commented on #98
Thanks!

[2016-05-19 12:02] jpoon commented on #98
All I did was press the `merge` button, all thanks to @Lindenk! 👍

[2016-05-19 12:03] jpoon commented on #204
Let's use https://github.com/VSCodeVim/Vim/issues/197 this track d{motion}.

[2016-05-19 12:03] #204 closed

[2016-05-19 12:04] #188 closed

[2016-05-19 12:04] #126 closed

[2016-05-19 20:40] Lindenk opened #226 "Default bindings for insert mode clobber normal mode bindings that enter insert mode"
Entering a mode through a keybinding is currently handled by the mode to be changed to rather than the mode the key is pressed from. This is causing an issue when keybindings used to enter insert mode are overridden by normal mode bindings.

For instance, consider the following configuration:

[code]

The expected behavior is that the `e` key will enter insert mode at the current cursor position a

[2016-05-19 20:44] Lindenk opened #227 "Provide a 'disableDefaults' configuration option"
I propose a `disableDefaults` option which will cause Vim to only use provided bindings and not load the defaults when set to `true`. By default, this option would be set to `false`.

[2016-05-27 18:47] billwert opened #229 ":w on a buffer with a filename, but no file on disk, doesn't work"
Repro on the command line:
1) code myfile.txt
2) :w

Expected:
file is written

Acutal:
E32: No file name

If I do the same but save the file through the File menu first, everything is fine.

[2016-06-01 19:13] bradyholt commented on #226
Yes, this breaks `ciw` in normal mode as well because the moment you type the `i` you are put into insert mode immediately.

[2016-06-02 15:04] jkevingutierrez commented on #146
+1

[2016-06-06 05:23] johnfn commented on #161
We now have a pretty solid implementation of yank and put in master! Hoping to get a new version of VSCodeVim out in the next week or two. In the mean time, feel free to clone the repository, test it out and report bugs. 😄

[2016-06-06 05:23] #161 closed

[2016-06-06 05:24] johnfn commented on #197
This is now done, with the exception of the t{char} and f{char} motions, which is tracked by #187.

[2016-06-06 05:24] #197 closed

[2016-06-06 06:48] johnfn commented on #187
Added as of #244 😄

[2016-06-06 06:49] #187 closed

[2016-06-07 22:39] #132 closed

[2016-06-08 07:40] johnfn opened #247 "caw when word is last on line doesn't work correctly"

[2016-06-08 07:41] johnfn opened #248 "ddp incorrectly adds an additional blank line"

[2016-06-08 08:02] johnfn opened #250 "Motion keys should not be added to key history if they failed."
Imagine you're at the end of the document and you do vwwwwwwwd. Then you want to repeat that action with . at the beginning of the document. We currently store the entire "vwwwwwwwd" action so you'll select a bunch of words to delete. But Vim actually discards any failed motions, so it would just store "vd" and not delete very many words.

[2016-06-08 09:02] johnfn opened #253 "add tests for r"

[2016-06-08 09:02] johnfn opened #254 "add tests for J"

[2016-06-08 09:02] johnfn opened #255 "add tests for ."

[2016-06-08 09:03] johnfn opened #256 "better testing infrastructure"
I would really love it if we could write tests like this:
[code]

[2016-06-08 18:13] darrenweston commented on #253
I added the following test but it is failing with this:
  **AssertionError: 'onehreeT' == 'one\nThree'**

` test("Can handle 'r' after 'dd'", async () => {
        await modeHandler.handleMultipleKeyEvents("ione\ntwo\nthree".split(""));
        await modeHandler.handleMultipleKeyEvents([
            '<esc>', 'k', 'd', 'd',
            'r', 'T'
        ]);

        assertEqualLines(["one\nThree"]);

[2016-06-08 18:27] johnfn commented on #253
@darrenweston Wow, that's a particularly weird bug! Feel free to make a PR even if the tests fail (so long as they are actually testing something valid, obviously). I will fix them. 😄

[2016-06-08 18:30] johnfn commented on #253
@darrenweston  ... although I actually just fixed that bug on master so you should be good to go.

[2016-06-08 18:32] darrenweston commented on #253
Cool thanks.

[2016-06-08 18:35] johnfn commented on #253
Thank you for taking the time to add some tests!! ❤️

[2016-06-08 20:16] johnfn opened #257 "The screen needs to keep the cursor in view."
If you press `j` until the cursor is not the screen, the screen should scroll down.

[2016-06-08 20:18] johnfn opened #258 "D in visual line mode should also run the delete operator."

[2016-06-08 20:21] johnfn opened #259 "Clicking should update the cursor position"
It appears to, but then it snaps back.

[2016-06-09 00:00] jpoon commented on #259
Definitely a regression in the latest version :(

[2016-06-09 05:28] #253 closed

[2016-06-09 06:56] #257 closed

[2016-06-09 07:00] #258 closed

[2016-06-09 07:11] #259 closed

[2016-06-09 08:38] johnfn commented on #155
Lower case `r` now works.

[2016-06-09 13:22] dpbackes opened #263 "trl+"

[2016-06-09 13:22] #263 closed

[2016-06-09 14:06] darrenweston commented on #254
Should these tests include visual 'J'?
What about joining more than one line with '4J'?

[2016-06-09 18:40] johnfn commented on #254
Good questions! Visual J is not complete yet, but if you want to add some tests commented out for now, feel free. (That's not necessary.) Number repeats are the same way.

[2016-06-09 18:51] johnfn opened #265 "Add tests for P"

[2016-06-09 20:40] johnfn opened #266 "O/o should maintain indentation level"

[2016-06-09 20:41] johnfn opened #267 "Add >>/<<"

[2016-06-09 22:38] johnfn opened #268 "{, } should insert at correct indentation level"

[2016-06-09 22:41] johnfn opened #269 "Cursor is missed up in split panel view"
after :w, especially

[2016-06-09 22:45] johnfn opened #270 "Backspace doesn't work with ."

[2016-06-10 03:49] johnfn opened #271 "desired column no longer maintained"
i thought i had tests for this -_-

[2016-06-10 03:53] johnfn opened #272 "xp doesn't leave cursor on right character"

[2016-06-10 04:09] johnfn opened #273 "D only deletes REST of line"
same for C

[2016-06-10 04:10] johnfn opened #274 "dta, dfa are off by one"

[2016-06-10 07:51] #266 closed

[2016-06-10 08:08] #272 closed

[2016-06-10 08:12] #273 closed

[2016-06-10 08:23] #274 closed

[2016-06-10 08:48] #267 closed

[2016-06-10 08:56] #269 closed

[2016-06-10 09:59] johnfn opened #276 "cw on word at end of line doesn't work correctly"

[2016-06-10 18:37] johnfn opened #278 "allow different keys to trigger same action"
e.g. something like `keys = ["n,N"]`.

This could clean up a lot of duplicated code

[2016-06-10 19:48] johnfn opened #279 "case insensitive/smart case search"
When you search with / or ?, by default vim does case insensitive search. If you type an upper case letter in the search string, Vim switches to case sensitive. It's a clever system that we should emulate; currently / and ? are permanently case sensitive, which is annoying.

[2016-06-10 19:49] johnfn opened #280 "highlight all search matches"

[2016-06-10 20:10] johnfn opened #281 "search should wrap"

[2016-06-10 20:45] johnfn opened #282 "upward visual selections are messed up with operators"

[2016-06-10 23:00] johnfn opened #283 "* and #"

[2016-06-11 00:23] johnfn opened #284 "$ should not set desiredcolumn as part of operator"

[2016-06-11 01:00] johnfn opened #285 "D should not eat newline"

[2016-06-11 03:39] johnfn opened #286 "insert text like it's an actual keystroke"
eg if() {

}

[2016-06-11 05:01] #285 closed

[2016-06-11 05:03] #284 closed

[2016-06-11 06:57] johnfn opened #287 "All text objects"
- [x] `a(` and `i(`
- [x] `a"` and `i"`
- [x] `a'` and `i'`
- [x] `a<` and `i<`
- [x] `a[` and `i[`
- [x] `a{` and `i{`
- [x] `aw` and `iw`

Most of these are tedious but easy. The quoted ones are going to be a little harder, however.

[2016-06-12 08:25] hakonamatata opened #289 "mapping jj to Esc and setting default keyboard does not seem to work"
Hi. having a little trouble with the setup. I have:

settings.json
{
  "vim.keyboardLayout": "en-US (QWERTY)",
  "vim.insertModeKeyBindings": {
        "jj": "Esc"
    }
}

in the roaming\code\user folder.

I would like the keyboard to be english when I code (normally I use a norwegian keyboard layout).
Would also like to map jj to esc. This does not work

[2016-06-13 06:26] johnfn commented on #289
@jpoon any ideas?

@hakonamatata I understand if this is too much work, but for the time being you could solve this really simply by copying `CommandEsc` in actions.ts into a new class like `CommandJJ`, and setting `keys = ["j". "j"]`, then building the extension.

[2016-06-13 07:24] hakonamatata commented on #289
Thanks, I tried to add the new class:

[code]

Like this? I get an where I specify the keys

[2016-06-13 21:27] johnfn opened #290 "Selecting with mouse should go into visual mode"

[2016-06-13 21:27] johnfn opened #291 "<c-w> h, l should move between panes"

[2016-06-13 22:04] jpoon commented on #289
You actually put that configuration in your `package.json`. You can find that file wherever the plugin is installed:

https://code.visualstudio.com/Docs/extensions/install-extension

For instance, on my mac it's under:

[2016-06-15 08:13] johnfn opened #293 "Concept of 'failed' motions"
something like `d/this string doesnt exist<enter>` should delete nothing. Currently a motion that doesn't go anywhere returns the current position, which actually causes it to delete 1 character.

[2016-06-15 08:33] johnfn opened #295 "use --noImplicitAny typescript flag"

[2016-06-15 08:34] johnfn opened #296 "bump typescript to latest version"
i guess we could hold out for the public release, but i really cant wait to play around with the new non nullable types!

[2016-06-15 09:21] #282 closed

[2016-06-15 09:26] #276 closed

[2016-06-15 09:47] #290 closed

[2016-06-15 10:07] johnfn opened #297 "Marks"
The difficulty with marks is that the position you stored can actually change if you insert/delete text above it.

I'm sure VSCode must provide some sort of 'live' position API since they use it all the time (well, at least for lines) but for the life of me I can't find anything like it. Anyone have any ideas?

[2016-06-15 19:25] johnfn opened #298 "v/"

[2016-06-15 20:50] johnfn opened #299 "Cursor jump"
Can happen if you open up a file and VSCode puts your cursor where it was the last time you opened that file.

[2016-06-15 21:35] johnfn opened #300 "Fix block cursor on empty line"

[2016-06-16 07:04] johnfn opened #301 "Normal mode indicator"

[2016-06-16 08:04] johnfn opened #303 "No autocomplete"
This is really bad.

[2016-06-16 08:40] #301 closed

[2016-06-16 10:09] #303 closed

[2016-06-16 10:09] johnfn opened #305 "Fix visual line mode upward delete"

[2016-06-16 18:08] otacon507 opened #306 "No handler found for the command: 'extension.vim_esc'"
I installed the plugin successfully, and accepted the prompt to restart VScode. Now there is no functionality for the pluging: typing is regular, and if I press 'esc' I am prompted with:

`No handler found for the command: 'extension.vim_esc'. An extension might be missing an activation event.`

Also, when I try to backspace now, I am similarly faced with:

`No handler found for the command: 'exte

[2016-06-16 18:18] jpoon commented on #306
Now, this might sound crazy but....have you tried manually restarting VSCode? I've seen that VSCode doesn't seem to pick up the handlers after that first restart.

[2016-06-16 19:04] otacon507 commented on #306
A restart of the entire PC doesn't fix the issue

[2016-06-16 19:25] johnfn commented on #306
What version of VSC are you running? This strikes me as a bug with VSC itself.

[2016-06-16 19:26] otacon507 commented on #306
![image](https://cloud.githubusercontent.com/assets/6384324/16130362/f6680d9e-33c5-11e6-95a9-2b40eb9d3783.png)

[2016-06-16 20:18] #268 closed

[2016-06-16 20:18] johnfn commented on #158
Fixed at last!

[2016-06-16 20:18] #158 closed

[2016-06-16 23:28] tylerjwatson commented on #306
Same issue here.  Same version, same commit hash - my dialog mimics @otacon507's.  It's the latest packaged download off the VSCode website.  Every motion key that is pressed generates one of these warnings and doesn't act as intended.

In addition, the chromium console contains this output:

![image](https://cloud.githubusercontent.com/assets/5001408/16136437/bbaf847c-346d-11e6-9d92-67ff88f7e11d.

[2016-06-17 06:52] johnfn commented on #306
Ahh, that is helpful!

That means that `vscode.window.activeTextEditor` is not available at the time. I can't imagine how that's the case, but I suppose we should poll for it before we start the extension.

[2016-06-17 08:30] #305 closed

[2016-06-17 08:39] johnfn opened #308 "code formatting with ="

[2016-06-17 08:39] johnfn opened #309 ". should repeat rx"

[2016-06-17 08:45] johnfn opened #310 "<enter> should finish autocomplete suggestion"

[2016-06-17 08:51] #300 closed

[2016-06-17 08:57] johnfn opened #311 "%"

[2016-06-17 09:04] #247 closed

[2016-06-17 09:22] #248 closed

[2016-06-17 09:27] adelgado commented on #306
I've also been hitting this issue for the past few days.

[2016-06-17 09:36] johnfn commented on #306
@adelgado , @tylerjwatson are you guys on Windows?

[2016-06-17 09:55] adelgado commented on #306
@johnfn No, I'm on a Mac.

[2016-06-17 09:59] johnfn commented on #306
Huh. Well, I'm stumped why it triggers for some people but not others.

In any case, I'm pretty sure I know what caused the change. I'll commit a fix tomorrow night and hopefully push out a new version then.

[2016-06-17 10:03] #286 closed

[2016-06-17 10:26] tylerjwatson commented on #306
Windows here. I am yet to try it on my Linux machine.

[2016-06-17 14:59] otacon507 commented on #306
Also on Windows

[2016-06-17 19:17] johnfn opened #313 "Repeat actions with numbers"

[2016-06-17 20:12] johnfn opened #314 "Sometimes when opening files the cursor is stuck"
This is the most frustrating/inconsistent bug in the world.

[2016-06-17 21:04] johnfn opened #315 "Click, click somewhere else, V is buggy"

[2016-06-18 07:34] johnfn commented on #306
Hi guys! Could you please check out the latest version 0.0.22 and see if that fixes the problem?

Thanks!

[2016-06-18 18:58] johnfn opened #317 "dtx where x doesnt exist will delete one character"
It should just fail.

See also #250

[2016-06-18 19:13] #295 closed

[2016-06-18 21:42] #299 closed

[2016-06-18 21:44] #315 closed

[2016-06-18 22:30] johnfn opened #318 "A<backspace> doesn't work"

[2016-06-18 23:23] #311 closed

[2016-06-18 23:24] johnfn commented on #256
Closed thanks to @darrenweston

[2016-06-18 23:24] #256 closed

[2016-06-18 23:24] #265 closed

[2016-06-18 23:29] #318 closed

[2016-06-18 23:30] #270 closed

[2016-06-18 23:46] johnfn commented on #291
TextEditor.viewColumn looks good for this

[2016-06-18 23:52] johnfn commented on #210
zz has been done. zt and zb are impossible until https://github.com/Microsoft/vscode/issues/2771 😞

[2016-06-19 06:18] johnfn opened #320 "Backspace on empty line doesn't work"

[2016-06-19 06:25] #310 closed

[2016-06-20 05:21] #313 closed

[2016-06-20 05:21] #314 closed

[2016-06-20 08:39] johnfn commented on #184
I'm pleased to say that we support this now! Repeating movements pretty much works. Repeating commands works in theory, but in practice still has a few bugs to be ironed out.

[2016-06-20 08:39] #184 closed

[2016-06-20 11:24] dxcqcv commented on #306
reinstalled, the bug does not show again. from arch linux + awesome-wm.

[2016-06-20 11:26] dxcqcv opened #323 "Motions bug"
I found 2 other bug, first, number+gg no work, like 5gg wanna go to line 5, but 5G is work;

and scond, the line number is great than go to line number, like 5G will go to line 6. sound like command from zero base but line number is from one base, I guess.

[2016-06-20 18:52] jpoon commented on #306
@dxcqcv yippieee! (i miss arch + awesome)

[2016-06-20 19:32] johnfn commented on #306
Great! Gonna close this. :smile:

[2016-06-20 19:32] #306 closed

[2016-06-20 19:33] johnfn commented on #323
Neat, I didn't know about number gg. I'll get to both of these later today.

[2016-06-20 19:46] WonSong opened #326 "Pressing on navigation keys (ex. j) for a long time causes weird UI behavior"
OS: Windows 10

This goes away only when I open a different file.
Upon returning to the file, this problem stops and is no longer reproducible, but still reproducible in other files.

I couldn't upload a gif file, so here is the link: http://wonsong.me/random/vscodevim-bug.gif

[2016-06-20 20:55] otacon507 commented on #306
Fixed for me as well :+1:

[2016-06-20 21:46] johnfn opened #327 "desired column no longer maintained...again"
i need tests for this 😞

[2016-06-20 22:37] johnfn opened #328 "Clicking on EOL actually puts the cursor one too far to the right"

[2016-06-20 22:47] johnfn opened #329 "Reset to normal node and reset cursor position on file change"

[2016-06-20 22:53] mloskot commented on #98
Hmm, I'm having no luck in binding `jkl;`. Is this mapping incorrect?

[code]

[2016-06-21 00:49] johnfn opened #330 "J broken when both lines indented"
J has so many edges, my god.

[2016-06-21 01:19] localvar opened #331 "behavior of . is not correct for A and I"
steps to reproduce:
use `A` to append some text to current line
move to the next line, ensure the cursor not at the line end
use `.` to repeat the last `A` command
text inserted at the cursor instead of line end

[2016-06-21 04:09] johnfn commented on #326
Are you up to date with the latest version of VSCodeVim? I was aware of this bug, but I thought I fixed it a version or two ago.

[2016-06-21 06:31] johnfn commented on #326
Bahhh. I know why this is. VSCode currently doesn't allow us to register click events, so I attempted to hack around it and unfortunately my hacks have some bad side effects in some cases. 😞

The worst thing is that I actually can't reproduce this problem any more, which makes it hard to know if I've fixed it.

I'm going to think about it for a day to see if any clever hack to my hack will occur t

[2016-06-21 06:41] johnfn opened #332 "0 is broken"

[2016-06-21 06:46] johnfn commented on #326
Oops, I didn't realize that mentioning this PR would close it, haha.

But if you don't mind, could you check out the latest version on master and see if it fixes the problem at all? I'm mildly optimistic.

[2016-06-21 06:46] #327 closed

[2016-06-21 07:03] johnfn commented on #323
Done!

[2016-06-21 07:03] #323 closed

[2016-06-21 07:22] johnfn commented on #331
Fixed! Thanks for the bug report, @localvar!

[2016-06-21 07:22] #331 closed

[2016-06-21 07:38] #332 closed

[2016-06-21 08:23] johnfn opened #333 "Can't repeat Vj<< with ."

[2016-06-21 08:58] rebornix opened #334 "Undo deletion or uppercase breaks Vim State"
Use `v` to select a range of characters, press `x` to delete. Then press `u` to undo previous delection, the expected state for now should be Normal, but actually it becomes Visual state.

[2016-06-21 09:25] johnfn commented on #334
Ahh, this basically requires us to completely override VSCode's undo in order to work. Definitely possible, but at least a few versions away from happening.

[2016-06-21 09:32] dxcqcv commented on #323
GJ, and I found other bug about motions, backspace only can go to beginning of line, but cannot backspace to previous line, so weird.

[2016-06-21 10:11] johnfn commented on #323
Yeah, I've got an issue open for that one: https://github.com/VSCodeVim/Vim/issues/320

Hope to get to it tomorrow!

[2016-06-21 10:22] #330 closed

[2016-06-21 15:32] WonSong commented on #326
It's certainly better than before, but still has some issues. I can live with it though if you would like to close the bug hehe

[2016-06-21 19:02] adelgado commented on #306
Also working here :-)

[2016-06-21 19:07] johnfn opened #336 "Count prefix doesn't reset when used with commands"

[2016-06-21 19:09] johnfn opened #337 "Rename ModeHandler"

[2016-06-21 20:17] johnfn opened #338 "gT gt"
VSCode added tabs!!!

[2016-06-21 21:31] #283 closed

[2016-06-21 22:12] johnfn opened #339 "Tab complete + x causes x to be inserted in wrong place"

[2016-06-22 01:10] johnfn opened #340 "J"
[code]

J is too hard. I give up.

[2016-06-22 01:34] localvar opened #341 "issue with Chinese IME"
in insert mode, I want to input `## 查询`, to input the 2 Chinese characters, I need to switch to Chinese IME and type `iaxp `, but after I type all of these, the actual result becomes `#ch查询`: `#` and ` ` were removed and `ch` (IME expands `i` to `ch`) was added.

I think the issue is similar with an issue of amVim (another vim plug-in of VSCode), and maybe a bug of  VSCode instead of the plugin:
h

[2016-06-22 01:41] localvar opened #342 "selection should be kept after < or >"
steps to reproduce:

`VJJ` to select 3 lines
`>` to right shift the text
selection was canceled and user had to re-select the lines if need more shift

[2016-06-22 03:25] localvar opened #343 "J eat the first character of the next line"
for example, I have below two lines, and cursor is at the first line:

[code]

`J` joins the two line but the result is `aaabddd`, `c` was lost.

[2016-06-22 03:50] johnfn commented on #343
Already fixed on master :wink:. Feel free to pull; otherwise I'll be releasing a new version shortly.

Thanks for the report!

[2016-06-22 03:50] #343 closed

[2016-06-22 04:47] hellochar opened #344 "Cannot bind ";" to "EnterCommand" or "tab" to MoveMatchingBracket"
Hey vscodevim, neither of these mapping seem to be doing anything:

settings.json:
[code]

`tab` still inserts a tab key and `;` still does nothing. Is there something I'm doing wrong here?

[2016-06-22 07:14] johnfn commented on #342
This is actually not how Vim works 😉  Try it yourself!

The way that I would do this in Vim would be Vjj> to indent the first time and then . to repeat the command until the proper level of indentation is reached.

[2016-06-22 07:14] #342 closed

[2016-06-22 07:15] #333 closed

[2016-06-22 07:16] johnfn commented on #344
@jpoon do you know about this?

[2016-06-22 07:18] johnfn commented on #340
Weird, works fine locally...

[2016-06-22 07:18] #340 closed

[2016-06-22 07:41] jpoon commented on #344
With our latest refactoring, this is no longer supported in the newer versions :(. We'll look to add it back though!

[2016-06-22 07:46] jpoon commented on #289
@hakonamatata actually, looks like remapping of commands is no longer supported with the latest version. We'll look at adding it back!

[2016-06-22 07:46] jpoon commented on #289
As this is the same as https://github.com/VSCodeVim/Vim/issues/344, I'll close this one in favor of that.

[2016-06-22 07:47] #289 closed

[2016-06-22 07:54] johnfn commented on #344
Ah, sorry about that @hellochar.

I'll see if I can get remapping support working this weekend.

Until then, you could rebuild a local version of VSCodeVim to suit your needs. Just put the following definitions into actions.ts:

[code]

I got that just by coping the current ":" command and switching ":" to ";".

The tab key is unfortunately a little harder - I will need to investigate that more.

[2016-06-22 07:59] #339 closed

[2016-06-22 08:01] #336 closed

[2016-06-22 08:18] #328 closed

[2016-06-22 08:19] johnfn commented on #326
Ah, that's... sorta good.

I pushed another change that might affect things. Is it better now?

[2016-06-22 09:34] johnfn commented on #341
Yikes; this sounds tough. It's most likely a VSC bug, but I'll investigate further when I have time.

[2016-06-22 20:34] #309 closed

[2016-06-22 20:42] #82 closed

[2016-06-22 21:29] jon-choi commented on #320
+1 ... can't remove an empty line with backspace.

[2016-06-22 21:58] jon-choi opened #345 "holding down navigation button"
(i'm on mac os x.)

**holding 'j' down to continue to scroll down doesn't work.** (nor does ctrl+d, which deletes the following character, even on insert mode).

is there a system setting i need to tweak or is that simply not supported?

for WebStorm for example:
`defaults write com.jetbrains.WebStorm ApplePressAndHoldEnabled -bool false` seemed to solve the problem.

Guessed with `com.Microsoft.V

[2016-06-22 22:01] johnfn commented on #345
This totally works for me, also OSX.

Could you do me a favor and try with a fresh install of VSC?

[2016-06-23 03:38] localvar opened #346 "bug of J"
text as below
[code]

result of `J` at the first line is:

[code]

a `}` was incorrectly added.

[2016-06-23 05:31] #346 closed

[2016-06-23 05:31] johnfn commented on #346
Fixed. Thanks for the report! 😃

[2016-06-23 07:26] johnfn commented on #345
Try this (found in the Vintageous documentation):

`defaults write com.sublimetext.3 ApplePressAndHoldEnabled -bool false`

[2016-06-23 07:53] rebornix commented on #345
Run into the same situation. This works perfectly on Windows but no luck with OSX.

[2016-06-23 07:54] johnfn commented on #345
@rebornix can you try running `defaults write com.sublimetext.3 ApplePressAndHoldEnabled -bool false` in your terminal on OSX? It'll actually make key repeats work systemwide, though you can disable it by running it again with `true`.

[2016-06-23 07:58] rebornix commented on #345
I've tried that (even with admin privilege) and restart VS Code Insider but it still doesn't work. I noticed this on my rmbp the first day I used this extension but then I switched to Windows. Now I'm working on Mac again and it turned out to be a problem.

[2016-06-23 08:00] johnfn commented on #345
Weird! And when holding down keys in other textboxes, it works fine?

[2016-06-23 08:00] rebornix commented on #345
Oh wait, I can't even do this with Chrome, so it can be out of this extension or VS Code. But we still need a clear workaround or guidance about this.

[2016-06-23 08:02] johnfn commented on #345
Ahh, okay.

I don't think a workaround is possible because VSC does not trigger events for key on/key off, only keystroke registered.

We can definitely let users know about it though. We could have some sort of visible FAQ...

[2016-06-23 08:05] rebornix commented on #345
I'm Okay to close this issue as it has nothing with both the ext or the editor. Currently I can only repeat keys in terminal, but I'll say it's my Mac's problem.

[2016-06-23 08:05] johnfn commented on #345
👍

[2016-06-23 08:05] #345 closed

[2016-06-23 08:06] johnfn commented on #345
OH duh, no wonder that command I gave didn't work. It's for Sublime Text. I'm a dumb.

I'm sure VSCode has an equivalent, but I have no clue what it is, or why it appears to be set for me.

[2016-06-23 08:09] rebornix commented on #345
Finally figure out how to fix it. After running the command @johnfn provided, remember to reboot the system. It's documented here https://discussions.apple.com/thread/6058293?tstart=0

[2016-06-23 08:37] johnfn commented on #345
Are you sure it was mine? it has `com.sublimetext.3` in it, which I assumed meant it was ST3 only.

[2016-06-23 08:43] rebornix commented on #345
It should be `defaults write -g ApplePressAndHoldEnabled -bool false` but people should be careful about this global effect.

[2016-06-23 09:32] johnfn commented on #320
@jon-choi Fixed! Thanks for the report.

[2016-06-23 09:32] #320 closed

[2016-06-23 10:03] johnfn opened #347 "Extend the testing infrastructure to handle visual mode."
We have this really great test infrastructure, but it can't test selections yet.

Adding that functionality (and bonus points for porting over the visual mode tests to the new testing infrastructure) would be a great help!

[2016-06-24 06:19] #308 closed

[2016-06-24 13:44] gerardmrk opened #352 "Non-blinking cursor in normal mode"
I am so, so sorry for creating an issue for this, but I was wondering if it's possible to make the cursor not blink when in "normal" mode (similar to the vim-mode package in Atom). It is weirdly unsettling to have it blink both in visual and normal, I tried getting used to it but to no avail. The default user settings does not give the option of toggling "visible" for normal either. Thanks in adva

[2016-06-25 06:15] sapiens-sapide opened #353 "visual block mode ? (ctrl+V)"
am I missing something or there is no visual block mode (ctrl + V)

[2016-06-25 06:30] arjunkathuria commented on #172
Any progress ? i'd really like this.

[2016-06-25 06:33] johnfn commented on #172
@arjunkathuria I'm taking a plane ride tomorrow. I historically get a lot of work done on planes.

😉

[2016-06-25 06:40] arjunkathuria commented on #172
Yay! 😁

[2016-06-25 07:22] srepollock commented on #198
Sent a pull request now

[2016-06-25 08:20] jpoon commented on #353
To get into visual mode, it's either `v` or `V`.

To be honest, I didn't even know `ctrl+v` (http://vimdoc.sourceforge.net/htmldoc/visual.html#CTRL-V). I can't seem to try it out either on vanilla vim on either my mac or windows as it defaults to pasting.

[2016-06-25 08:24] georgevreilly opened #355 "SPC should move right in Normal mode but doesn't"
In Normal mode, ` ` (`<space>`)  should be the same motion as `l` and `<right>`. In v 0.0.28 on VSC 1.2.1, nothing happens.

[2016-06-25 08:25] johnfn commented on #353
Visual Block mode is a pretty sweet Vim feature that allows you to operate on rectangular blocks of text. I've been putting it off because it's a lesser-known feature and I thought it would be difficult (it involves multiple cursors). However, I've been thinking about it more recently, and I don't think it would be too bad! I'll probably get to doing it soon (TM).

[2016-06-25 08:26] johnfn commented on #355
Thanks for the suggestion, @georgevreilly! This is an easy extension to add, so I marked it as help-wanted in case anyone wants to give it a shot, but I'll get to it soon if not!

[2016-06-25 11:33] localvar commented on #353
@johnfn, it will be good if this can be mapped to ctrl-Q by an option. I like ctrl-v to be pasting too.

[2016-06-25 11:44] johnfn commented on #353
Right; I don't think I can do this until I do command remapping.

[2016-06-25 16:39] haf opened #356 "CTRL+C = extension.vim_esc"

[2016-06-25 19:12] johnfn commented on #356
100% agree. One of my biggest wants right now.

[2016-06-26 01:37] #281 closed

[2016-06-26 01:37] #280 closed

[2016-06-26 01:52] johnfn commented on #355
Done!

[2016-06-26 01:52] #355 closed

[2016-06-26 02:12] #254 closed

[2016-06-26 02:12] #255 closed

[2016-06-26 09:28] localvar opened #358 "current line scroll to top when begin editing in split editor"
occurs very often after the first occurrence, but not 100% reproducible, and sometimes it is more often in one pane than the other:

1. open a file
2. split the editor
3. scroll down the left pane
4. mouse click to switch between the 2 edit panes
5. begin edit in the left pane via `o`, `i` or `p` (and maybe other commands)

the current line scroll to the top of the pane.

[2016-06-26 14:42] Chaiomanot opened #360 "Buffer navigation"
:ls and :b is missing

[2016-06-26 22:08] johnfn commented on #360
@Chaiomanot Are you sure you need this? With the latest insider version of VSCode, we now have full-fledged tabs inside of VSC. They're all visible on the top of the screen, and you can navigate very easily between them with cmd-p.

I guess I never understood the appeal of Vim buffers over cmd-p and tabs. Feel free to persuade me otherwise, if you think they're superior, though!

[2016-06-26 22:08] johnfn commented on #358
I've been putting this off because it's difficult to reproduce, but I do think I know why this happens.

[2016-06-26 22:49] johnfn commented on #352
Hehe, I dunno why you're sorry about making an issue 😃

I should have fixed this with #361. Sadly, it's not perfect, as I don't believe VSCode currently offers a nonblinking native cursor, so we just hack it in ourselves.

Turn it on by putting `"vim.useSolidBlockCursor": true,` into your user settings.

[2016-06-26 22:49] #352 closed

[2016-06-28 07:09] rebornix opened #369 "`dw` eats EOF"
When you run `dw` inside the last word of a line and have more lines behind current line in JavaScript or JSON files, `dw` will eat EOF and move following line after the cursor. I suppose it's a VS Code as it only happens with JavaScript, looks like some `autocomplete` stuff. But I still create an issue here and see @johnfn input and finally move it to VS Code repo issue list.

[2016-06-28 08:13] owais commented on #18
FWIW, I've been using neovim-dot-app (https://github.com/rogual/neovim-dot-app) on OS X on production for a couple of months at least and it works really really well. Only minor issue I've seen so far is that the re-draws are a bit slow when scrolling too fast.

[2016-06-28 13:37] Chaiomanot commented on #360
The buffers aren't numbered with cmd-p. But it is adequate.

[2016-06-28 13:37] #360 closed

[2016-06-28 17:28] johnfn commented on #369
Definitely not just JS/JSON files - I've seen it happen in all sorts of different files. (In any case, our 'word' handling is not language specific 😄 )

I'm sure this is just an edge case in `execActionForOperator` for "w". PRs welcome!

[2016-06-28 17:31] johnfn commented on #358
Absolutely 100% reproducible when you edit the same file twice.

No idea why it happens! It's very strange.

[2016-06-30 06:50] johnfn opened #373 "Add some sort of global lock"
VSCode will send us multiple key events, even if previous key events have not finished.

We need some sort of lock and queue system such that only one key event can ever process at a time. Multiple simultaneous keys running is just begging for race conditions and hard-to-find bugs.

Implementing our keys such that they run too fast is a better way to solve this problem 😉 . Unfortunately it is also

[2016-06-30 07:09] johnfn opened #374 "Mash keys and backspace in insert mode, and "Nothing matched!" will get console logged sometimes."
How can no action match when you're in insert mode and EVERY ACTION MATCHES IN INSERT MODE

[2016-06-30 08:46] rebornix opened #375 "Undo command undos `insert` + `replace`"
Repro steps:

1. Create a new file
2. Insert three lines with the same content `abc`, then run `ESC`
3. Replace all `a` with `d`
4. Run `u` to undo

Expected: three lines with the same content `abc`
Actual: Empty

[2016-06-30 14:36] rebornix opened #378 "TypeError: Cannot read property 'document' of undefined"
Run into this issue when running `npm test` in command line, the line that raised the error is https://github.com/VSCodeVim/Vim/blob/master/src/textEditor.ts#L66 . Currently only HistoryTracker will invoke it. Maybe we should delay the initialization after there is a document in the workspace.

[2016-06-30 15:57] johnfn commented on #375
How exactly do you do #3? What keystrokes do you press?

If I do `iabc\nabc\nabc<esc>ggrbjrbjrb`, undo works as I expect.

[2016-06-30 16:39] #374 closed

[2016-06-30 16:39] #373 closed

[2016-06-30 17:01] johnfn opened #379 "Don't tslint files in test/ directory"
For bonus points, ONLY don't `"no-unused-variable": true,` apply to them.

[2016-06-30 17:24] johnfn opened #380 "When doing an undo/redo, use a single text edit object."
I could remove the edit collapsing that I'm currently doing.

[2016-06-30 20:21] johnfn opened #381 "Position cursor in 1 tab, then focus other tab and make motion"
The motion will jump because cursorPosition will be the position in the previous tab.

[2016-06-30 21:17] johnfn commented on #380
Impossible. 😞

[2016-06-30 21:17] #380 closed

[2016-07-01 00:31] tmcl opened #382 "visual mode extension using arrow keys"
Hi, I know this is a new project so thanks very much.

when I do this:
v [arrow]
or V [arrow]

I expect this:
enters visual mode (or visual linewise mode) and extends the selection in the direction of the arrow key

But in fact this happens:
enters visual mode (or visual linewise mode), but then cancels it, moving the cursor in the direction of the arrow key.

I can work around this by doing this:

[2016-07-01 02:02] rebornix commented on #382
We are monitoring `type` event of the keyboard while arrow keys are not emitted by VS Code. We need to register this key in the contribution but the only catch, can we stop its default behaviour, if not, we need some hacking to avoid duplicate movement.

[2016-07-01 02:16] tmcl commented on #382
Okay, thanks for the explanation. Also apologies for the error in how my message rendered which might've made it more confusing for you to understand.

[2016-07-01 03:28] rebornix commented on #382
I had a fix for this issue and you will be able to use arrows as expected with our next release ( this might happen in a few days )

[2016-07-01 03:37] johnfn commented on #382
Of course, we'd be remiss as Vim users to not suggest you use hjkl rather than the arrow keys! But hey, we can support arrow keys too. 😉

[2016-07-01 15:58] Paxxi commented on #381
While thinking about a fix for this there's more that need per window state such as the undo history.

Switching tabs can also make the cursor non-responsive requiring a mouse click(haven't tried e.g gg when this happens)

[2016-07-01 16:05] Paxxi commented on #375
repro
1. create new file
2. write "yada yada yada"
3. use command sequence `0 cw lala<esc>u`

expected result: `yada yada yada`
actual result: ` yada yada`
hitting `u` again gives the expected `yada yada yada`

[2016-07-01 22:48] johnfn commented on #381
Yeah agreed. Initially I was special casing the undo history as per-tab only, but when I think about it more, probably everything should be that way.

[2016-07-02 05:34] #382 closed

[2016-07-03 22:50] johnfn opened #384 "Ctrl+w h will open up a new tab if there isn't one"
`Ctrl+w h` doesn't actually work like that in Vim.

[2016-07-03 23:13] johnfn commented on #381
@Paxxi Done the proper way 😄

[2016-07-03 23:13] #381 closed

[2016-07-03 23:21] #291 closed

[2016-07-03 23:21] #329 closed

[2016-07-03 23:31] #375 closed

[2016-07-03 23:32] johnfn commented on #375
@Paxxi I fixed that issue just now.

Not sure if that's the issue you were talking about, @rebornix. Feel free to open another issue if not.

[2016-07-04 13:58] rebornix commented on #384
I suppose you are referring to Window, right? I'll take it :)

[2016-07-04 15:00] johnfn commented on #384
I'm not quite sure what the terminology is. A new pane perhaps? 😛

[2016-07-04 15:20] johnfn opened #389 "Marks across files"
We now have marks, which are cool.

But you know what is cooler than marks?

Marks that work _across files._ 😲

Lower case marks only work within the same file. Upper case marks work in between files.

[2016-07-04 16:56] johnfn commented on #344
This is now possible! Go to user settings and do the following

[code]

Unfortunately, we can't remap <tab> yet due to a limitation of the vscode API 😞

[2016-07-04 16:56] #344 closed

[2016-07-04 18:27] johnfn opened #391 "New Vim version appears to eat CPU like crazy"

[2016-07-04 18:28] johnfn opened #392 "Switching between panes sometimes breaks vim"

[2016-07-04 18:28] johnfn opened #393 "Make tests pass"

[2016-07-05 07:47] rebornix opened #394 "delete N characters under and after the cursor with Del key"
### Issue Summary

Now we only support `x` to delete characters while we can use `Del` on Windows/Linux platform to archive the target.

We only need to register this key in contribution and map it to `x` operator. I'd like to mark it as `easy` and `help_wanted`!

[2016-07-05 07:48] rebornix commented on #394
Please note on Mac, `delete` key is actually a `backspace`

[2016-07-05 17:48] johnfn opened #396 "Vim times out for insert mode key mappings"
So if you map jj to esc, you can still type jj if you press j, then wait a second, then press another j.

[2016-07-05 17:52] #334 closed

[2016-07-05 17:52] #297 closed

[2016-07-05 17:54] johnfn commented on #227
This no longer applies to our current infrastructure.

[2016-07-05 17:54] #227 closed

[2016-07-05 18:01] johnfn commented on #185
Done!!!

[2016-07-05 18:01] #185 closed

[2016-07-05 19:23] infogulch opened #397 "`db` off-by-one"
Typing `db` in normal mode behaves differently from vim.

Here I'm surrounding a character with underscores to indicate the location of the cursor. (E.g. `x_y_z` represents the cursor on character `y` in string `xyz`.) These examples use the string `abc 123` and start with the cursor on `1`:

In vscodevim (v0.0.28), typing db does this:

`abc _1_23` -> `a_2_3`

In vim:

`abc _1_23` -> `_1_23`

[2016-07-05 20:13] jpoon commented on #198
Closed with PR #354. Thanks @srepollock.

[2016-07-05 20:13] #198 closed

[2016-07-05 23:40] rebornix commented on #358
I'm not 100% sure now but seems it's caused by buffering. When you click `Split`, VS Code will open a new Editor Group and open the same file you opened in the left Group. So now you have two same files opened in the workspace. They share the same buffer but they don't share the same cursor position. While the inconsistent cursor position is by design because you may want to compare the file side

[2016-07-06 05:39] johnfn commented on #18
This is still viable as an extension, but probably isn't going to be ours, given the amount of stuff we've already done... 😛

[2016-07-06 05:39] #18 closed

[2016-07-06 05:42] johnfn commented on #172
@arjunkathuria Alright, it took two plane rides, but I got it done 😉

Check the README - I wrote down how to map jj to esc there. We'll be rolling out v0.1 in the next couple of days, which will have remapping support. 😄

[2016-07-06 05:42] #172 closed

[2016-07-06 05:42] #206 closed

[2016-07-06 05:42] #207 closed

[2016-07-06 05:43] johnfn commented on #226
We now have a new way of doing remapping.

[2016-07-06 05:43] #226 closed

[2016-07-06 06:13] johnfn commented on #326
I suspect that v0.1 will perma-fix this issue - I think I finally fixed what the root cause was.

[2016-07-06 06:13] #326 closed

[2016-07-06 07:27] rebornix commented on #384
Not sure whether I used Vim wrongly but on my Mac and Linux VM, `<ctrl-w>+h` or `<ctrl-w>+l` won't create new tab/window if there isn't one. Is there any configuration setup in your vimrc?

BTW, we still need to implement `vsp {file}` and if the `{file}` is empty, create a new window and edit a new empty file.

[2016-07-06 07:39] johnfn commented on #384
Hmm, I'm using VSC Insiders with the latest build and `    "workbench.editor.showTabs": true,` in my user settings file.

[2016-07-07 05:57] arjunkathuria commented on #172
@johnfn You're the Man. ;)

[2016-07-07 07:05] #392 closed

[2016-07-07 07:05] #391 closed

[2016-07-07 07:06] johnfn commented on #172
@arjunkathuria 😄

Feel free to pull the latest code down from master and start testing it out if you have a chance. I'd like to get some beta tester eyes on this if possible!

[2016-07-07 07:19] johnfn commented on #293
Dupe of #250

[2016-07-07 07:19] #293 closed

[2016-07-07 07:23] johnfn opened #401 "Add Visual Block mode"
Believe it or not, I don't think this is actually too hard - feel free to try and tackle it, if you want. I suspect the core logic in modeHandler will be less than 50 lines. The only tough part will be the places in the code where we've made the assumption that there's only one selection, but I don't think there are too many of those.

(Whoops; this already existed as #353. I'm silly.)

[2016-07-07 07:28] johnfn commented on #229
Appears to work for me now 😄

[2016-07-07 07:28] #229 closed

[2016-07-07 07:32] johnfn commented on #214
I think so too.

Unfortunately, this is one of the few things not possible with the current VSCode API. 😞

[2016-07-07 07:34] johnfn opened #402 ". should repeat autocomplete actions"
This is a toughie; you need to integrate with HistoryTracker to diff the document and see what text got added, then store that with the action somehow.

[2016-07-07 07:38] johnfn commented on #356
Note: The hardest thing about implementing this is ensuring that you don't overwrite ctrl-c for our Windows users.

[2016-07-07 08:17] rebornix opened #403 "]p, [p, gp, gP"
Adjust indent immediately after pasting and putting cursor by will is necessary when you do refactoring to code. So I'd like to suggest this feature into [v0.2](https://github.com/VSCodeVim/Vim/milestone/3).

Speaking of adjusting indent, Vim will keep the visible horizontal distance of all lines in register and always use `\t` first then ` ` to archive the goal.

Let's say we have three lines and

[2016-07-07 17:03] justindarner commented on #401
Yes. I would love this feature to be added.

[2016-07-08 02:20] johnfn opened #406 ""NORMAL MODE" gets spammed on statusline"

[2016-07-08 02:39] rebornix commented on #406
+1. See this happening always while running test cases.

[2016-07-08 03:49] coolicer commented on #353
support visual block mode ?

[2016-07-08 06:47] rebornix opened #407 "p/P cursor position is wrong"
### Issue Summary

If you run `p/P` after yank, the cursor should be at the first non-whitespace character instead of the very beginning of the line.

[2016-07-08 07:05] johnfn opened #408 "Non-recursive remapping"
Our remapping is currently _recursive_ mapping, done in vim with `:map`. For instance, if you map j to jj, then VSCodeVim will go into an infinite loop and die when you press j.

More generally useful is _nonrecursive_ mapping, done in vim with `:noremap`. If you nonrecursively map j to jj, then pressing j just acts as if you had pressed j twice instead.

Non-recursive mapping is actually not hard

[2016-07-08 07:10] johnfn commented on #407
Such weird behavior!

[2016-07-08 07:33] #406 closed

[2016-07-08 07:52] johnfn opened #409 "Make this project buildable"
@rebornix and I are running into issues when just cloning the project and trying to run it. We are missing some typescript definitions.

[2016-07-08 07:56] jingkangy91 opened #410 "Cannot use ; and , to search forward and backward in f{char} F{char} t{char} and T{char}"
Do you need help or have a question? Ask us on Slack (https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### Issue Summary

A summary of the issue -- what blew up? what major feature are we missing?
Cannot use ; and , to search forward and backward in f{char} F{char} t{char} and T{char}

### Steps to Reproduce

1. First I use "f{char}" to find a ch

[2016-07-08 08:31] sachin21 commented on #214
I see. That’s too bad :-(

[2016-07-08 12:43] #403 closed

[2016-07-08 13:05] flagbug opened #414 "Latest update breaks Intellisense navigation"
### Issue Summary

Since version `Massive Marshmallow`, up and down navigation in the Intellisense popup with the arrow keys doesn't work anymore. Maybe because of https://github.com/VSCodeVim/Vim/pull/387?

### Steps to Reproduce

1. Start typing a class
2. Press `Ctrl + Space`
3. Try navigating down in the Intellisense popup
4. The popup is exited instead

* VSCode Version: 1.3.0
* OS: Win 10 x6

[2016-07-08 13:14] rebornix commented on #414
Oh that's a terrible mistake. Personally I'm not relying on the intellisense popup so I didn't catch it.

I'm not sure whether we can detect that we are in the intellisense mode or not, so my quick turnaround for now is disabling these arrows features in Insert Mode then look into it further more.

[2016-07-08 13:17] rebornix commented on #414
And thanks for reporting this issue @flagbug

[2016-07-08 17:02] #414 closed

[2016-07-08 17:16] johnfn commented on #414
Thanks for reporting the issue, @flagbug! It's been fixed in v0.1.1, which I just pushed out.

[2016-07-08 17:18] flagbug commented on #414
Wow, that was fast, thanks!

[2016-07-08 17:42] ashishgunjotikar opened #416 "ctrl+f stopped working in vsCode 1.3.0 due to this extension. Works fine after removing this."
Do you need help or have a question? Ask us on Slack (https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### Issue Summary

A summary of the issue -- what blew up? what major feature are we missing?

### Steps to Reproduce

1. This is the first step
2. This is the second step, etc.

Any other info e.g. Why do you consider this to be a bug? What did

[2016-07-08 18:14] #397 closed

[2016-07-08 18:26] johnfn commented on #416
Kind of the point of Vim is that you now use the Vim way of doing things. 😉 For example, instead of ctrl-f you now use `/` and `?`, which are better in every regard. 😛

Is there something you want to do with ctrl+f that can't be accomplished with `?` or `/`? If so, we should try to incorporate that functionality.

The actual fix here is not too hard; I just want to know what functionality you're m

[2016-07-08 18:32] jpoon commented on #416
Also note that `ctrl+f` maps to scrolling the window downward in [Vim](http://vimdoc.sourceforge.net/htmldoc/scroll.html#CTRL-F).

Actually, @johnfn, just noticed the extension is doing the opposite `ctrl+f` => upward; `ctrl+b` => downward.

[2016-07-08 19:12] mikeraimondi opened #417 "Multiple selections do not work as expected"
### Issue Summary

Only the first selection is operated upon when there are multiple selections.

### Steps to Reproduce

1. Have [multiple cursors](https://code.visualstudio.com/docs/editor/editingevolved#_multiple-selections) active with multiple selections. (I used CMD-D)
2. Notice that the status bar indicates "visual mode". In visual mode, an operator command will act upon all highlighted(sel

[2016-07-08 19:17] #416 closed

[2016-07-08 19:44] infogulch commented on #397
Thank you!

[2016-07-08 21:41] jpoon commented on #409
Did https://github.com/VSCodeVim/Vim/pull/419 fix this?

[2016-07-09 02:03] localvar opened #420 "hang several seconds after replace a block of text by paste"
Do you need help or have a question? Ask us on [Slack](https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### Issue Summary

VSCode hang several seconds after replace a block of text by paste(`ctrl + v`), and `u` takes several seconds to undo this paste

### Steps to Reproduce

1. make sure there are some lines of text in the clipper board
2. open

[2016-07-09 02:28] johnfn opened #421 "Ctrl-v can break undo history"

[2016-07-09 03:04] rolodato opened #422 "Can't scroll multiple characters/lines when holding down hjkl"
### Issue Summary

Using `hjkl` to move the cursor in normal mode only moves one character while held down.

### Steps to Reproduce

1. Open any file
2. In normal mode, try to scroll by holding down `h`, `j`, `k` or `l`
3. Cursor only advances one line/character

This is not how regular vim works, so seems like a bug. Scrolling with the arrow keys in VSCode works as expected too.

### Technical de

[2016-07-09 04:16] rebornix commented on #409
Amazingly awesome @jpoon , now I can run and compile automatically with low latency and no errors, our Getting Started experience is almost perfect.

[2016-07-09 04:18] rebornix commented on #422
@rolodato people ran into this issue before and we found out it's likely an OSX or VS Code issue, see here https://github.com/VSCodeVim/Vim/issues/345 .

Can you help try the commands we mentioned in #345 and let me know if that works? Thanks in advance.

If it works, now I need to figure out whether it's due to VS Code.

[2016-07-09 04:41] rolodato commented on #422
This worked after restarting VS Code:

[code]

Oddly enough, this did not:

[code]

Changing this globally works, but it would be nice to have this change only scoped to VS Code. Maybe the editor window runs on a separate domain? I don't know how I could find that out.

[2016-07-09 05:03] rebornix commented on #422
@rolodato  that also bothers me why we can only changw the default setting to make it work. Seems we are not doing the same thing as Sublime. I'll come back to you if I have more info about this and put it in our doc.

[2016-07-09 05:09] johnfn commented on #409
Awesome job @jpoon 😄

[2016-07-09 05:09] #409 closed

[2016-07-09 05:13] johnfn commented on #422
@rebornix beat me to the punch again.

Gonna close this; hopefully it can be mitigated upstream.

[2016-07-09 05:13] #422 closed

[2016-07-09 19:29] johnfn commented on #420
How much text are you pasting?

[2016-07-09 19:31] johnfn commented on #417
I generally use `.` to repeat a command in multiple places. I have been thinking about a separate Vim mode for multiple selections. It'd be a bit of work because it's essentially a new mode that doesn't exist in Vim.

[2016-07-09 23:45] localvar commented on #420
text in clipboard and be replaced are both about 50 lines. here 'hang' means I cannot type anything in that time

[2016-07-10 07:07] rebornix commented on #341
Per https://github.com/Microsoft/vscode/issues/8133#issuecomment-231368358 , we know that we can leverage `replacePreviousChar` to handle Chinese Input.

Fixing this issue relies on history tracking. Like when we want to type in `安`, the key strokes should be `a`, `n` then `1`. And VS Code`s key replacement would be using `安` to replace `an`, while `a`, `n` and `1` will be translated to

1. Switch

[2016-07-10 14:04] rebornix opened #423 "Relative line numbers"
When we run commands with numeric prefix, we always need to calculate the relative line numbers. In this case, showing relative line numbers beside VS Code line number will be really helpful. But currently VS Code doesn't allow users to customize the line number section.

A dirty workaround is adding images containing Number to the gutter of each line, but it breaks the original gutter view.

[2016-07-10 20:43] johnfn commented on #423
This is actually a Vim setting proper:

http://jeffkreeftmeijer.com/2013/vims-new-hybrid-line-number-mode/

[2016-07-11 05:28] localvar commented on #420
found the issue is not 100% reproducible, but it do happens to me several times.

[2016-07-11 08:21] MaxTan opened #424 "ctrl+b in insert mode should toggle sidebar"
vscode shortcuts is not working after update

* VSCode Version:1.3.0
* VsCodeVim Version: 0.1.1
* OS: Windows 10 Professional

[2016-07-11 11:26] ps1118 opened #425 "cannot quit visual mode"
VSCode Version:1.3.0
VsCodeVim Version: 0.1.1
OS: Windows 10 Professional

When I am in the visual mode, using j to move to choose 100 lines, then press y, and then press p in the proper position. In this way, pressing 'esc' cannot quit the visual mode.

Please help me.

[2016-07-11 14:14] ericmdantas commented on #424
Same here, both Windows 10 and 7.

[2016-07-11 17:28] tagniam opened #426 "Ctrl-{ isn't binded to switch to normal mode"
`Ctrl-{` in vim is another keybinding to get you into normal mode but it doesn't appear to work right now.

* VSCode Version: 1.3.0
* VsCodeVim Version: 0.1.1
* OS: Windows 10 Professional

[2016-07-11 19:40] jpoon commented on #424
This seems similar to this discussion: https://github.com/VSCodeVim/Vim/issues/416

What do you expect to happen when you use `ctrl+f` and `ctrl+b`?

We've overridden these shortcuts to map them to the Vim way of doing things which is `ctrl+f` = downward scroll and `ctrl+b` = scroll upward

[2016-07-11 19:52] ericmdantas commented on #424
Seems reasonable.

But the problem, at least for me, is that it doesn't work even when on "Insert mode".

And one of the downfalls of using "/" instead of "ctrl + f", please correct me if I'm wrong, is that I don't get to search fo the next/previous elements using "n/N".

[2016-07-11 20:06] johnfn commented on #424
Of course you can use n/N. What kind of Vim extension would this be without them?!? 😀

[2016-07-11 20:07] ericmdantas commented on #424
Well, doesn't work for me :cry:

[2016-07-11 20:08] johnfn commented on #424
What are your keystrokes?

`/abc<enter>nnn` works fine over here.

[2016-07-11 20:16] ericmdantas commented on #424
Oh well, probably I've been forgetting about "enter" this whole time :confused: :laughing:

[2016-07-11 20:16] johnfn commented on #424
😉 no worries!

[2016-07-11 20:18] ericmdantas commented on #424
So, for me, only the "ctrl + b" is a bit annoying after the update.

[2016-07-11 20:25] johnfn commented on #424
What are you expecting when you press ctrl+b? In which mode?

[2016-07-11 20:29] ericmdantas commented on #424
I'm expecting that, when in "insert mode", the side bar toggles.

[2016-07-12 02:08] rebornix opened #427 "Constant inserting should be merged into one single Insert Operation in history"
### Issue Summary

When we enter Insert Mode and start typing, each character will be marked a single insert operation and saved in history tracker. Then if we do `undo`, these inserting operations will be reverted one by one. This is not how Vim does

### Steps to Reproduce

1. Open a file
2. Press `a` to enter Insert Mode
3. Type `abcdefhjkkl` then press `esc` and `u`

![undo](https://cloud.gith

[2016-07-12 02:14] johnfn commented on #427
Oh, I know all about this. I tried for a long time to get it right. I stopped because it's very difficult to do with 100% accuracy. Feel free to try to do it if you want; I'm hoping for a VSCode history API.

[2016-07-12 02:56] johnfn commented on #424
Yeah, that sounds valid as it's not an insert mode binding! On the TODO list. :)

[2016-07-12 03:11] sumanx commented on #214
How about down/up about 20 lines instead, before the API ready? 😃

[2016-07-12 04:04] localvar opened #429 "'*' and '#' should search whole word"
Do you need help or have a question? Ask us on [Slack](https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### Issue Summary

`*` and `#` not searching whole word

### Steps to Reproduce

text as below

[code]

1. `*` on `abc`
2. `n` will match `abc` in `abcd` and `abcde`

### Technical details:

* VSCode Version: 1.3.0
* VsCodeVim Version: 0.1.1
*

[2016-07-12 04:28] johnfn commented on #425
So the keys you are pressing are:

`v100jyp<esc>`?

If so, you already exited Visual Mode when you pressed `p`! No need to press `<esc>`. 😉

[2016-07-12 04:30] johnfn commented on #420
This is related to #427, so I'm closing in favor of that one. It's hard, but things are moving in the right direction.

[2016-07-12 04:30] #420 closed

[2016-07-12 04:31] johnfn commented on #429
Totally true. I was holding off on doing this until we could handle word delimiters in `/` and `?`.

[2016-07-12 04:52] rebornix commented on #341
@localvar I suppose typing Chinese in Insert Mode should be perfect now, do you mind giving it a try?

There are still some problems with Normal Mode but the priority is not that high.

[2016-07-12 05:00] rebornix commented on #214
@sachin21 @sumanx We are adding these missing APIs in VS Code so you can expect this feature in early August.

Once these APIs are released in VS Code Insider Build, I'll add these commands immediately and let you guys know the update.

[2016-07-12 05:02] johnfn commented on #214
I am actually okay with a 20 line stopgap measure. This appears to be a widely-desired command.

[2016-07-12 05:03] rebornix commented on #214
@johnfn sounds good to either, 20 is almost half page when you use rMBP. I'll add it real quick. Once we have accurate API then I'll tweak them.

[2016-07-12 05:09] localvar commented on #341
@rebornix which version includes the fix?
as of v0.1.1, seems it is ok now when using Full Pinyin （全拼） mode. But in Double Pinyin (双拼）mode, the issue still exists.

[2016-07-12 05:12] rebornix commented on #341
@localvar oh I didn't test 双拼, let me give them a try and see what's the problem.

[2016-07-12 05:17] rebornix commented on #341
@localvar I'm using OSX 10.10.5, VS Code's version is 1.4.0-Insider/1.3.0, and VSCodeVim is 0.1.1. Seems Double Pinyin is good. Can you provide repro steps, thanks in advance!

[2016-07-12 06:24] #214 closed

[2016-07-12 07:23] localvar commented on #341
@rebornix, for example:

let's say the text I need to input is `## 查询`.
under double pinyin mode and insert mode, I type `## iaxp ` for it.
but the result is `ch查询`

OS: Windows 10 Professional
VSCode: 1.3.0
Vim: 0.1.1
IME: Microsoft Pinyin (Double Pinyin Mode)

[2016-07-12 07:53] choidamdam commented on #401
I use the <kbd>Ctrl</kbd><kbd>v</kbd> + <kbd>I</kbd>/<kbd>A</kbd>/<kbd>c</kbd> [combinations](http://stackoverflow.com/questions/9549729/in-vim-how-do-i-effectively-insert-the-same-characters-across-multiple-lines#answer-34552140) very frequently. It would be great if they work exactly same as real vim.

![vim example](http://i.stack.imgur.com/ce8e1.gif)

[2016-07-12 09:57] rebornix commented on #369
Closed as Fixed.

[2016-07-12 09:57] #369 closed

[2016-07-12 10:23] rebornix commented on #279
Just look into the description of searching and find following:

1. Search is case sensitive by default
2. User can make case insensitive by enabling `ignorecase`
3. If `ignorecase` is turned on, users can use `smartcase` to auto-detect the case and be smart.

[2016-07-12 12:56] AntonAderum opened #432 "Remove "Supported Keyboards" and respective IKeyMapper-implementations"
The IKeyMapper implementations was needed because vscode could not map non-US keyboard to the extensions keymapping. However this seems to no longer be the case.

I tried it out this morning and when i was running the sv-SE keymapper configuration all the mappings were wrong. (I know this isnt listed as supported in your README, but i was the one who did the sv-SE mapping and it did work before).

[2016-07-12 22:07] zwing99 commented on #279
+1 for this feature!
Especially with ignorecase / smartcase as the proper .vimrc control equivalents.

Thanks!

[2016-07-13 04:29] arussellk commented on #426
I have this coded. I will get a test written for it and make a pull request soon.

[2016-07-13 05:48] sumanx opened #435 "What "vim.otherModesKeyBindings" should be, object or array?"
In readme.md, it is:

[code]

But in default settings, it is:
[code]

What is the right way to add a custom rule?

* VSCode Version: 1.3.1
* VsCodeVim Version: 0.1.1
* OS: Mac OS X 10.11.4

[2016-07-13 05:54] sumanx opened #436 "Paste problem in visual mode"
When I press p to a selected word, try to replace it with copied text, it will append to the selected word, not replace it.

In vim it should be replacing and moving the replaced text into clipboard.

* VSCode Version: 1.3.1
* VsCodeVim Version: 0.1.1
* OS: Mac OS X 10.11.4

[2016-07-13 07:17] AntonAderum opened #437 "When in Visual Mode "s" should delete all selected text and enter Insert mode."
### What did you do?

```public class TestyTest {```
If caret is at the start off the line, press  ```v``` and ```e```, visually selecting ```public```.
Then press ```s```

### What did you expect to happen?
I expected ```public``` to be deleted and to be put in the Insert-mode.
### What happened instead?
Nothing.
### Technical details:
Its clear looking at the Action.ts action for "s" that this i

[2016-07-13 08:51] johnfn commented on #435
Fixed by #434. Thanks to @sectioneight 😀

[2016-07-13 08:51] #435 closed

[2016-07-13 08:56] johnfn commented on #436
Whoa; never knew about this feature, even though it seems very logical.

[2016-07-13 09:49] johnfn commented on #437
Thanks for the issue! I went and added this feature myself. 😄

[2016-07-13 09:49] #437 closed

[2016-07-13 10:01] johnfn opened #438 "Incremental search is laggy in large files"
If you try to search for something in our massive actions.ts file, or another large file, VSCodeVim lags. This is unsurprising because the current search approach is to parse the entire file on every keystroke.

"So don't write 2000 line files, johnfn"

Shush, that's not the point. The point is there are lots of easy win optimizations here. I did the dumbest thing that worked for the MVP. 😉

[2016-07-13 10:05] johnfn opened #439 "backspace backspace is not currently a command repeatable with ."

[2016-07-13 10:12] johnfn commented on #436
Annnd done!

[2016-07-13 10:12] #436 closed

[2016-07-13 10:23] #439 closed

[2016-07-13 10:35] johnfn commented on #432
@jpoon do you know more about this than me?

[2016-07-13 11:50] tanordheim commented on #414
I still have this problem in VSCode 1.3.1 using version 0.1.2 of this extension. It works for intellisense (ctrl+space), but for code corrections (command+.) the arrow key causes the cursor to move instead of navigating the popup list.

[2016-07-13 14:10] sumanx commented on #436
Thanks!

[2016-07-13 14:56] justinsamsky opened #440 "'dE' leaves the end-of-word character intact"
```dE``` deletes everything until the next end-of-word, but not the end-of-word character.
When the cursor is here ```[] word```, ```dE``` produces the following result: ```[d]```

```de``` works fine though.

* VSCode Version: 1.3.0
* VsCodeVim Version: 0.1.2
* OS: Ubuntu Linux 14.04

[2016-07-13 15:06] justinsamsky opened #441 "'dNG' behaves differently than expected"
Given the following example text, cursor position ```[]``` and line numbers:

[code]

I expect ```d2G```to delete both lines completely and move the cursor to the start of the third line (if it exists). Instead, the result is:

 ```1. The weather today[U]NNY```

It looks like dNG moves the cursor to line N, deleting every character along the way, and deletes the first character of line N. Vim's no

[2016-07-13 15:26] rebornix commented on #341
@localvar just got my Windows PC and tried Microsoft Double Pinyin and reproduced this bug. The funny thing is the Double Pinyin on OSX is good. I'll look into it and see whether it's still a @Code issue.

[2016-07-13 18:11] jpoon commented on #432
Ooh, sweet. Going through the VSCode history, it seems like handling of international keyboards was greatly improved in January (https://github.com/Microsoft/vscode/issues/713) and they are using this internally to map the international keys: https://github.com/Microsoft/node-native-keymap.

Before we remove all the work we did to support these keyboards, we'll obviously need to do a bit more test

[2016-07-13 18:59] johnfn commented on #414
@tanordheim How can I trigger the code corrections menu? I'm unfamiliar with this feature. Pressing cmd+. doesn't do anything - presumably because I don't have any code that needs to be corrected.

[2016-07-13 19:19] #407 closed

[2016-07-13 19:36] johnfn commented on #441
Fixed! Thanks for the report.

[2016-07-13 19:36] #441 closed

[2016-07-13 19:55] justinsamsky commented on #441
Wow that was fast. Thank you very much. :)

[2016-07-13 20:06] localvar commented on #341
@rebornix, thanks very much, hope the issue could be fixed.

[2016-07-14 00:46] ps1118 commented on #425
Thank you.

[2016-07-14 00:46] #425 closed

[2016-07-14 03:17] eksea opened #442 "The words that auto-completed (by press tab) will be deleted when press jj"
Precondition:
bind jj to <esc>

Reproduce steps:
1. open a .js file
2. type "docu"
3. press tab key(vs code will complete the word "document")
4. press jj

expected result:
VSCodeVim exit insert mode

actual result:
VSCodeVim exit insert mode, meanwhile, "ment" is deleted

* VSCode Version:1.3.1
* VsCodeVim Version: *[0.1.2]*
* OS: windows 10

[2016-07-14 03:18] johnfn commented on #442
And the award for weirdest bug goes to...

[2016-07-14 05:13] sectioneight opened #443 "Missing support for "change inside" and "delete inside""
First off, congrats on the progress with the plugin, given recent progress I'm finally able to use it for my day-to-day work.

I was looking at the Roadmap to try to figure out whether this was planned or not, but I don't see any mention of it. I'd like to figure out whether it's already planned or impossible with the current VSCode APIs. If it's possible, I'm interested in implementing it myself.

[2016-07-14 05:16] sectioneight commented on #443
Note: there is currently support for "viw" and "vaw" for visual selection (but no `vi(` or 'vi"`), but those are the only mention of commands that behave like this as far as I can tell.

[2016-07-14 05:22] johnfn commented on #443
Yay! Glad to hear it.

We have a mega-issue for this open here: https://github.com/VSCodeVim/Vim/issues/287

If you do want to take a whack at one of these, by all means go ahead! I'd suggest to make a separate issue for it, and tag it with 'in-progress' so that no one else implements it at the same time.

[2016-07-14 05:22] #443 closed

[2016-07-14 05:32] sectioneight commented on #443
Sounds great. Tedious but easy sounds like a good place to start given that I'm new to the codebase and TypeScript (although I've done some node previously).

[2016-07-14 05:34] johnfn commented on #443
Awesome! Feel free to hang out on slack if you want to ask me questions or something.

We already have `%` which is good at finding matching delimiters, so that will be a good place to start.

[2016-07-14 06:02] johnfn commented on #442
Fixed!

[2016-07-14 06:02] #442 closed

[2016-07-14 06:10] tanordheim commented on #414
If you create a new C# file with the C# extension installed, looking like this:

[code]

Then `Console` should show an error (presuming omnisharp is active on the project), putting the cursor on the word and hitting cmd+. opens up a correction menu like this:

<img width="492" alt="screenshot 2016-07-14 08 08 20" src="https://cloud.githubusercontent.com/assets/49933/16829684/49c49ff4-499a-11e6-8a4

[2016-07-14 06:17] sumanx commented on #338
If we can bind a VSCodeVim command with a VSCode build-in action,  a lot of feature like this one will be very easy.

For example:
[code]

Seems very easy but I'm new to VSCodeVim and VSCode. Maybe I should read the extension code first and try to contribute.

[2016-07-14 06:24] johnfn commented on #440
Fixed!

[2016-07-14 06:24] #440 closed

[2016-07-14 06:34] #296 closed

[2016-07-14 06:58] johnfn commented on #356
Got it! Thanks to @rebornix for the trick to making this work.

[2016-07-14 06:58] #356 closed

[2016-07-14 07:01] #424 closed

[2016-07-14 07:01] johnfn commented on #424
Done!

[2016-07-14 07:26] jpoon commented on #296
Let's cross our fingers that they don't break anything when they GA

[2016-07-14 07:35] localvar commented on #341
@rebornix

amVim fix this issue and double pinyin is fine in windows. hope this could be a reference.

[fix replacePreviousChar under insert mode](https://github.com/aioutecism/amVim-for-VSCode/commit/f38d5c69ff49977f0d572ce942ddb61c20b9cbc3)

[2016-07-14 07:43] AntonAderum commented on #432
Great. I can at least confirm that it works perfectly on Swedish (QWERTY) keyboard using no custom IKeyMapper-implementation.

[2016-07-14 08:36] johnfn commented on #338
@sumanx A nice idea, which deserves its own issue. I lean towards no, though. The way that we add new commands (in actions.ts) is so straightforward already that there's no need to add a separate way to do so.

I bet if you take a look, you'll agree with me. 😃

[2016-07-14 08:47] johnfn commented on #424
Good news for you guys, @MaxTan, @ericmdantas and anyone else - I've decided to disable ctrl+f by default, and enable it with a setting you can set in settings.json. Search away! (though really you should use `/` 😉 😉 )

[2016-07-14 14:14] rebornix commented on #341
@localvar , I went through the code and it turned out having nothing to do with the `replacechar` stuff. It's our logic of handling cusor which breaks Double Pinyin. I'll try if I can fix it real quick.

[2016-07-14 18:52] #341 closed

[2016-07-14 19:38] #432 closed

[2016-07-14 19:39] jpoon commented on #432
I unfortunately don't have an international keyboard to test, but just removed it -- hopefully didn't break anybody.

[2016-07-15 01:26] localvar commented on #341
Thanks @rebornix

[2016-07-15 01:30] rebornix commented on #341
@localvar please help give it a try once we release new version, let us know if there is any more problem in Insert Mode, thanks in advance!

[2016-07-15 01:39] cswartzvi opened #448 "Tab Stops Ignored When Using Backspace"
### What did you do?

While editing a file with `editor.useTabStops` enabled the extension seems to cause `backspace` to ignore the tab stops.

### What did you expect to happen?

With the extension disabled, vscode follows the tab stops upon deleting whitespace with `backspace`:

![vscode-backspace](https://cloud.githubusercontent.com/assets/1111348/16860782/259c7308-4a09-11e6-94b5-0b9726f9f124.g

[2016-07-15 01:42] jpoon commented on #448
Whoa, what are you using the get those keystrokes outputted on the screen like that?

[2016-07-15 01:50] cswartzvi commented on #448
It's a nice little program called [screenkey](https://www.thregr.org/~wavexx/software/screenkey/).

[2016-07-15 02:37] eksea commented on #442
cool, expecting the next version.
And thank you very much.

[2016-07-15 06:03] sectioneight opened #449 "Implement i< and i(, and i{ text objects"
I am going to send a PR for these shortly.

[2016-07-15 06:30] sectioneight opened #451 "Test suite subject to failures due to remappings in settings.json"
### What did you do?

Ran the test suite for the project from VSCode debug. I have some custom "normal"/"other" remaps in my `settings.json` (to accomodate dvorak motion keys)

[code]
### What did you expect to happen?

The test suite should pass, and not be affected by my key remaps
### What happened instead?

Many tests fail due to my personal key remappings. For example:

[code]

I verified tha

[2016-07-15 06:33] jpoon commented on #451
Great catch, seems fairly easy to disable these settings on a test run.

[2016-07-15 06:44] sectioneight commented on #451
Seems like the simplest place to handle this would be to check for `this.isTesting` in `modeHandler.ts`'s `handleKeyEvent(key: string)`. If that's the correct approach, I'm happy to whip up a PR and test with my settings enabled.

[2016-07-15 07:59] #426 closed

[2016-07-16 01:44] sectioneight opened #452 "Add control-w insert mode delete backwards"
I am implementing this currently since I use it so much for some reason.

[2016-07-16 02:24] sectioneight opened #456 "Enforce tslint in Travis CI?"
I've noticed some lint violations have snuck in (see unrelated changes in #453).

I don't want to enforce my own beliefs on other projects, but in my experience if lint is "optional" most people are going to ignore it.

Is this intentionally left out of Travis? Is everyone expected to run `gulp tslint` as part of a pre-commit hook? Am I missing something obvious?

[2016-07-16 02:33] rebornix commented on #456
@sectioneight I suppose we have `tslint` in CI as sometimes I see linting failure of my PR.

I always forget the linting stuff as I'm relying on VS Code to do the Git thing so it looks perfect to me to make linting part of `pre-commit` :)

[2016-07-16 03:05] rebornix opened #457 "[Engineering] Tab Size or Spaces"
This is about the code we write. I'm seeing different styles about tab or space. In some files we are using two spaces indentation but in others we are using four spaces. Or even sometimes we see Tab instead of soft Tab.

We have several more active contributors in this near week so I'm thinking that we might need put Tab/Space stuff into the Style Guide.

When we write VS Code, we use Tab instead

[2016-07-16 03:14] sectioneight commented on #457
I've also been tripped up on this in this project. Hopefully once settled we can also enforce this in travis :)

[2016-07-16 03:54] rebornix opened #458 "Vim stops working unexpectedly (issues collection)"
### Technical details:

* VSCode Version: 1.4.0-Insider
* VsCodeVim Version: 0.1.2
* OS: Windows 10 x64

For now I can' repro this constantly but I've ran into the issues dozens of times. Our extension suddenly stops working (can't not move cursor or perform any command any more) sometimes switching Tab. Below is the error log in console.

[code]

I'd like to raise this issue first and put more in

[2016-07-16 03:57] jpoon commented on #457
Spaces for me. I even added a gulp `fix-whitespace` that should have been converting the tabs to spaces on -- I guess this isn't working?

[2016-07-16 04:00] sectioneight commented on #457
I haven't noticed any hard tabs myself, but definitely inconsistency
between 2 and 4 spaces
On Fri, Jul 15, 2016 at 8:57 PM Jason Poon <notifications@github.com> wrote:

[2016-07-16 04:00] jpoon commented on #456
I think we should be enforcing TSLint. It's run as a part of Travis, but it looks like it's the entire build still succeeds despite the lint errors.

[2016-07-16 04:14] jpoon commented on #457
Unfortunately, TSLint does not yet have this capability (https://github.com/palantir/tslint/issues/581).

[2016-07-16 04:16] #456 closed

[2016-07-16 04:37] #452 closed

[2016-07-16 04:38] rebornix commented on #456
Good to see that we have tslint enabled in Travis!

You may also want to put a pre-commit for tslint like @sectioneight mentioned.

[code]

@sectioneight @johnfn @jpoon do you guys think it's necessary to put it the development style guide? Or maybe we can create a Wiki page for collabration.

[2016-07-16 04:41] jpoon commented on #456
Hm, I've generally relied on running `gulp` and now that it is enforced with Travis, I feel like that should be sufficient?

I've never played with precommit hooks. Will that script you pasted work cross-platforms (Win/OSX/Linux)?

[2016-07-16 04:47] sectioneight commented on #456
I agree that Travis is sufficient. When I wrote this issue, I didn't realize there was a tslint VSCode plugin (which @rebornix's comment hinted me to).

Given the current contribution guidelines (which tell you to run tslint, which is why I opened this issue originally), plus the Travis hooks, I think this is in a good place.

That said, I am a big fan of pre-commit hooks, having gone so far as to

[2016-07-16 05:49] johnfn commented on #458
Very weird. I have never run into this issue, and I use this extension pretty much every day at work.

Could it possibly be due to other extensions you have installed? Also, which languages do you edit with VSCodeVim?

[2016-07-16 05:50] johnfn commented on #457
Probably my fault! I'm not very sensitive to differences in spacing. PRs welcomed from anyone who wants to convert the project uniformly to 2 space tabs.

[2016-07-16 05:53] johnfn commented on #451
Thanks for the issue report!

@rebornix, you are refactoring settings, correct? If you do it right, fixing this issue should fall out of that with almost no other work required. 🙂

[2016-07-16 06:01] rebornix commented on #458
It's typescript and our Vim project I was working on. I ran into problem several times when I was using Mac but met it again these days when I started to use Windows and Vim and Chrome debug are the only extensions I installed

[2016-07-16 06:05] rebornix commented on #451
yes I'm working on the setting and I'll take a look at this one while implementing.

[2016-07-16 08:43] johnfn commented on #456
@sectioneight you worked at brigade? Neat! I was an intern at Causes once upon a time...

[2016-07-16 09:40] rebornix commented on #458
Ran into another failure, this seems possible as we don't always check if `activeTextEditor` is null.

[code]

[2016-07-16 09:44] jpoon commented on #128
Closing this issue as VSCode has made some great headway in handling international keyboards: https://github.com/VSCodeVim/Vim/issues/432.

[2016-07-16 09:44] #128 closed

[2016-07-16 09:45] jpoon commented on #131
Closing this issue as VSCode has made some great headway in handling international keyboards: https://github.com/VSCodeVim/Vim/issues/432. We've actually removed our own keyboard mapper in favor of letting VSCode handle the dirty work.

If you don't think that is the case, please re-open this issue.

[2016-07-16 09:45] #131 closed

[2016-07-16 09:48] jpoon commented on #393
Tests do pass? Did you file this issue to track making tests run + pass on Travis?

[2016-07-16 10:26] rebornix commented on #457
Fixed by https://github.com/VSCodeVim/Vim/pull/460 and I add this config to Workspace setting then no one will get it wrong.

The funny thing is, we are using 2 space tab in action.ts but 4 space tab in almost all others.

[2016-07-16 15:46] sectioneight commented on #456
Ha, I actually worked at Causes before brigade (they transferred the repo).
Small world
On Sat, Jul 16, 2016 at 1:43 AM Grant Mathews <notifications@github.com>
wrote:

[2016-07-16 17:07] jpoon commented on #457
Added a couple more configs to the workspace setting: https://github.com/VSCodeVim/Vim/commit/33e529033baef0fbfd34984daad3ae4a0b13a865

[2016-07-16 17:08] jpoon commented on #457
I think we're good here. Closing this issue. Thanks for the fix @rebornix.

[2016-07-16 17:08] #457 closed

[2016-07-16 17:48] #449 closed

[2016-07-16 17:49] johnfn commented on #393
I mean, make them pass on Travis. :wink:

[2016-07-16 21:02] johnfn opened #463 ".vimrc support"
Support an actual .vimrc file alongside our current settings.json.

Allow users to specify a location for the .vimrc insite the settings.json file.

Support basic .vimrc commands.

[2016-07-17 01:09] #379 closed

[2016-07-17 02:20] johnfn commented on #287
Thanks to @sectioneight for allowing me to tick off a number of these boxes! 😃

[2016-07-17 02:26] johnfn opened #465 "Make snazzy animated gifs for README"
Pretty much exactly like the ones in #448, except ideally they would be showing the functionality we have that works rather than the functionality we have that _doesn't_ work. 😉

[2016-07-17 02:29] sectioneight commented on #287
no prob! Iirc I didn't get square brackets yet. It should be a trivial change though.

[2016-07-17 03:13] rebornix commented on #463
Yup, assign this to me as I'm working on a prototype.

[2016-07-17 03:14] johnfn commented on #463
sick!

[2016-07-17 03:15] rebornix commented on #287
With https://github.com/VSCodeVim/Vim/pull/385, we have `aW`, `iW` as well.

[2016-07-17 03:21] johnfn commented on #287
Already checked off 😉

[2016-07-17 05:11] rebornix commented on #378
FYI @sectioneight @jpoon @johnfn, current false postivie build pass is due to this issue IMHO.

[2016-07-17 05:25] sectioneight opened #468 "Master tests broken"
Something broke today. I haven't run a bisect yet.

[code]

[2016-07-17 05:31] sectioneight commented on #468
Hmm, seems intermittent, master is mostly OK now.

[2016-07-17 05:31] #468 closed

[2016-07-17 05:35] rebornix commented on #384
This one can be closed now

[2016-07-17 05:39] #384 closed

[2016-07-17 06:17] johnfn commented on #401
It's happening!!!

[2016-07-17 06:18] #317 closed

[2016-07-18 07:56] rebornix commented on #448
Fixed and you can see the turnround in our new release.

[2016-07-18 08:23] ps1118 opened #470 "cannot use "n" when searching"
When using "/" to search, I can not use "n" to find next, and "N" to find the previous. How should I do?

[2016-07-18 10:35] steinso commented on #172
@johnfn This is great! I have tried it out, and noticed a couple of issues; sometimes it will leave a leftover j after leaving input mode with jj or jk. This does not always happen, but it happens when i use 'x' to remove a letter, and then use jk afterwards.

Another problem, possible the same issue, happens if I use auto complete, and immediately exit input mode with jk, then it will basically u

[2016-07-18 15:48] jpoon commented on #470
@ps1118 can you elaborate on what you see instead? Specifically, what do you see in the bottom right corner (the status bar)?

Are you running the latest version of VSCode and the extension?

[2016-07-18 21:23] michaeltarleton opened #471 "ci' does not delete between single quotes and enter insert mode"
### What did you do?

1. Placed the cursor on some text inside two single quotes (ie. 'testing test')
2. Pressed: ci'

### What did you expect to happen?

1. Delete what's inside the single quotes
2. Enter insert mode

### What happened instead?

Nothing

### Technical details:

* VSCode Version: 1.3.1
* VsCodeVim Version: 0.1.2
* OS: OSX

[2016-07-18 21:24] michaeltarleton commented on #471
amVim extension works as expected

[2016-07-19 03:26] rebornix opened #474 "Throw exceptions when run `ca( with no {}` test case"
### Technical details:

* VSCode Version: 1.4.0-Insiders
* VsCodeVim Version: Master Branch
* OS: Windows 10 Enterprise

Even though finally all test cases pass, I've seen following exceptions..
[code]

[2016-07-19 03:29] rebornix commented on #474
@sectioneight any idea on this one?

[2016-07-19 03:31] sectioneight commented on #474
I've seen this as well. I think this was introduced in the "cancellation" code in #466 but haven't tracked it down yet

[2016-07-19 08:59] johnfn commented on #471
This is already working on master (thanks @sectioneight). We'll have it out in the next release, which should be coming to a VSCode near you.

You can also try out master yourself, if you want..

[2016-07-19 09:30] johnfn commented on #471
Annnnnd now we have version 0.1.3. I did say "soon", didn't I?

[2016-07-19 10:07] tobia opened #477 "Deleting by paragraph removes 1 line too many"
### What did you do?

[code]

Press `d}` (delete one paragraph)
### What did you expect to happen?

[code]
### What happened instead?

[code]
### Technical details:
- VSCode Version: 1.3.1
- VsCodeVim Version: 0.1.3
- OS: Mac OS X 10.11.5

[2016-07-19 10:32] tobia commented on #477
Addendum: I think this is related to VSCodeVim treating `d}` as a character selection instead of a line selection, even when the cursor is at the beginning of the line. See this other bug:

    hello

    █orld

    vs code

Press `y}p` (copy following paragraph, paste after)

Expected:

    hello

    world
    █orld

    vs code

Actual:

    hello

    w█orld
    orld

    vs code

(in these 3

[2016-07-19 13:38] rebornix commented on #451
I took a look at this issue again, and I found this actually has little to do with settings. This problem is totally the same as other configuration like Tab, Space, etc. When you run tests against your local VS Code, it will read your personal configuration while it's on Travis, it loads what Travis has, which is nothing.

For tabbing, what we do is resetting the tab/space config on the fly befor

[2016-07-19 14:13] tobia opened #479 "Insert-mode selections do not work"
### What did you do?

Select some text while in insert mode, for example with the mouse or Shift+arrow.

Then type something that operates on the text (that works in vanilla VS Code) for example `(` to surround with parentheses.

### What did you expect to happen?

I expected the editor to go into some sort of Insert-mode selection, more similar to regular VS Code selection that Vim modes, where I

[2016-07-19 14:19] rebornix commented on #479
@tobia just one stupid question, this is not related to Vim, right? It's all about how we reuse VS Code functionality in Insert mode?

[2016-07-19 15:19] infogulch opened #480 "% should move to end of matching set, not beginning"
Typing `%` moves the cursor to the opening matching set, not the close.

Where `_x_yz` represents the cursor on `x` in `xyz`, and → means pressing `%`.

Vim:
* `_t_his is (a {inner} test)` → `this is (a {inner} test_)_`
* `this is (_a_ {inner} test)` → `this is (a {inner_}_ test)`

VSCodeVim:
* `_t_his is (a {inner} test)` → `this is _(_a {inner} test)`
* `this is (_a_ {inner} test)` → `this is (a

[2016-07-19 15:32] tobia commented on #479
@rebornix It's a condition where this extension removes functionality that was present in vanilla VS Code (modeless selection + keys to wrap in parentheses) without providing a replacement.

[2016-07-19 16:02] tobia commented on #479
It also breaks snippets that have variable parts, unless I'm missing something.

[2016-07-19 16:18] sectioneight commented on #471
I implemented most, but not quotes yet :/
On Tue, Jul 19, 2016 at 2:30 AM Grant Mathews <notifications@github.com>
wrote:

[2016-07-19 16:21] michaeltarleton commented on #471
Thx guys for all your work on this project. Since quotes aren't done yet this should be reopened.

[2016-07-19 16:34] sectioneight commented on #471
Yea, @johnfn please re-open and assign to me. I'll likely have time to tackle this this week.

[2016-07-19 17:42] johnfn commented on #451
Makes sense to me. A separate settings.json for tests sounds ideal.

[2016-07-19 17:50] johnfn commented on #477
Interesting hypothesis, but if we were treating } as a line-wise operator, then d} _should_ delete that final line! You can test this hypothesis by doing V}d, which should have the exact same behavior if } is linewise.

I think the real solution here is actually 2 parts:
1. Treat { and } as linewise motions (so pasting works)
2. In an operator context, { and } should go one character back.

[2016-07-19 17:54] johnfn commented on #474
I know why this is. It's actually not terrible, since the user won't notice at all. Still should be fixed at some point.

[2016-07-19 21:01] arussellk commented on #338
I'm going to give this a shot. Please add the in-progress label.

[2016-07-19 21:21] jpoon commented on #338
@arussellk done.

[2016-07-20 01:03] jiangmouren opened #481 ":set hlsearch not working"
Do you need help or have a question? Ask us on [Slack](https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### What did you do?
I was trying to ":set hlsearch"
### What did you expect to happen?
I would my expect my search would be highlighted.
### What happened instead?
Not highlighted.
### Technical details:

* VSCode Version:1.3.1
* VsCodeVim Ver

[2016-07-20 01:33] localvar commented on #341
@rebornix the issue was fixed, thanks for your work!

[2016-07-20 03:05] rebornix commented on #481
I'm working on the vimrc parsing, see https://github.com/VSCodeVim/Vim/issues/463 and I'll implement `set` command as well.

But I'm not sure yet if VS Code allows us to do highlighting through API. Will drop more info here later.

[2016-07-20 03:17] jiangmouren commented on #481
Great! Thanks for the quick respond.

On Jul 19, 2016 8:05 PM, "Peng Lyu" <notifications@github.com> wrote:

[2016-07-20 03:58] johnfn commented on #481
Oh, VSCode totally allows you to do that. Not only that, but I actually already show all matches when you are typing with /, I just remove them when you finish.

Should be really easy to add as an option 😄

[2016-07-20 04:01] rebornix commented on #481
The option will be handled by me.

The question is @jiangmouren can you confirm what @johnfn mentioned, tge highlight should already be there.

[2016-07-20 06:38] mushuanli opened #484 "When use / to search, I can't use ctrl-V/cmd-V to paste search string"
Do you need help or have a question? Ask us on [Slack](https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### What did you do?

in Win10, I use / to enter VIM's search mode,
then I use Ctrl-V to paste a string
but it paste to txt file, not into search line,
any solution?

### What did you expect to happen?
I can paste search string into search line

[2016-07-20 10:20] iivvoo opened #485 ":<n> does not (visually) move cursor to line n"
Do you need help or have a question? Ask us on [Slack](https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### What did you do?

    :1
    :10
    :$

### What did you expect to happen?

The editor (and cursor) to jump to (resp) line 1, line 10 and last line

### What happened instead?

The cursor remained blinking at the current location (though t

[2016-07-20 10:23] rebornix commented on #484
+1. I expected CTRL-V work in search mode as well. If no one is interested in this feature, I'll take it.

[2016-07-20 10:29] johnfn commented on #484
@rebornix go ahead! It should not be too hard.

[2016-07-20 10:32] rebornix commented on #485
It's likely because the selection is not updated correctly even though we modified vscode active editor's selection.

[2016-07-20 12:23] staltz opened #487 "`w` should/could respect `wordSeparators` settings"
My `wordSeparators` settings doesn't have `$`.

[code]

### What did you do?

I edited my `settings.json` so that `wordSeparators` does *not* have `$`.
Then
The cursor in a file was here
[code]
I used `w` in normal mode to skip to the next word.

### What did you expect to happen?

Cursor to be here
[code]

### What happened instead?

[code]

### Technical details:

* VSCode Version: 1.3.1
* VsCod

[2016-07-20 13:37] killercup commented on #479
I've also had problems with that. There are some vim plugins to surround a selection with braces/quotes/etc, and it would be great if there was a nice way to do this in vscode as well.

That being that, I'd also be happy with an option to _not_ enter visual mode when selecting text with the cursor in insert mode. That may sound crazy, as there will be two different "select text" modes, but it woul

[2016-07-20 13:59] rebornix commented on #487
@staltz thanks for reporting this issue, this one is interesting and inspiring. `editor.wordSeparators` is a VS Code concept but we have a similar setting called `iskeyword` in Vim as well. It's also a part of #463 .

The configuration overlap between Vim and VS Code is becoming more and more important.

[2016-07-20 16:44] aminroosta opened #489 "Question: why CommandFold is not registered for Normal mode?"
https://github.com/VSCodeVim/Vim/blob/master/src/actions/actions.ts#L1104

All other fold commands have `modes = [ModeName.Normal];` except FoldCommand.
I think this is wrong? what do you think

[2016-07-20 19:20] tobia commented on #479
Vim itself has this mode, at least in some of its GUI flavors. It's entered by selecting with the mouse or with shift+arrows while in insert mode, is labeled `-- (insert) VISUAL --` and it goes back to insert mode when exited or acted upon, not to normal mode.

See for example http://stackoverflow.com/questions/16203524/vims-insert-visual-mode

[2016-07-20 21:16] jiangmouren commented on #481
Well the answer is Yes and No.

It is true when you do a search with "/something", the searched patterns
will be highlighted right away(before you hit "enter"). But when you hit
"enter", the highlights go away.

What I really want is like in vim, after you hit "enter", all matched
patterns will be highlighted and then you see where they are in the file
and navigate through them.

Thank you guys!

[2016-07-21 00:08] rebornix commented on #489
@aminroosta good catch, we should be able to use FoldCommand in normal mode. Want to give it a quick fix?

[2016-07-21 00:11] aminroosta commented on #489
Yea sure, I will send a pr tomorrow.

Get Outlook for Android

On Thu, Jul 21, 2016 at 4:38 AM +0430, "Peng Lyu" <notifications@github.com> wrote:

@aminroosta good catch, we should be able to use FoldCommand in normal mode. Want to give it a quick fix?

---
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
https://github.com/VSCodeVim/Vim/issues

[2016-07-21 00:17] #358 closed

[2016-07-21 00:23] rebornix commented on #481
@jiangmouren just obseved Vim's behavior, it's beyond my expectation. When you enable `hlsearch` and run search, those matched keys will be hightlighted always untill you disable `hlsearch`, no matter what mode you are in. Another catch is Vim's search is incremental, this means after you search for something, `<esc>` wont' quit the search mode. It means if you keep typing chars into the document,

[2016-07-21 01:44] roblourens commented on #394
Looks like this works? IIUC, `<del>` in normal mode deletes the character under the cursor, matching Vim. In Vim, `5<del>` has no effect where in VSCodeVim, `5<del>` deletes one character which is probably close enough :)

[2016-07-21 01:55] sectioneight commented on #480
I'm fixing this now

[2016-07-21 04:29] roblourens commented on #438
I think that limiting the number of matches to 1000 should get you most of the way there (VSCode does this in its own search) and we can also cache the matches and only invalidate when `searchString` changes, or the doc version changes. I'll take a crack at it.

[2016-07-21 05:12] ScenK opened #492 "How can I bind ; to :?"
Is that a configuration for binding ; to :?

[2016-07-21 06:15] rebornix commented on #438
@roblourens it's really awesome to have you here. Looking forward to your PR!

[2016-07-21 06:17] #480 closed

[2016-07-21 06:18] rebornix commented on #492
I think it's a remapping feature @johnfn is working on or already finished?

[2016-07-21 06:23] rebornix commented on #394
Didn't notice we've already mapped `<del>` to `x` and @roblourens you are right, Vim is actually `<del>` and `x` differently. `x` can be prefixed with numbers but `<del>` can not.

The solution is also simple, create a separate command for `<del>`, inherit from `x` and set `canBePrefixedWithCount` as false.

[2016-07-21 06:31] rebornix commented on #394
It's likely VS Code's default behavior. A proper fix is handling `<del>` in our code base, similar to what we do for `Escape` and `Backspace`, see [here](https://github.com/VSCodeVim/Vim/blob/master/package.json#L46). @roblourens let me know if you are interested in hacking it around or I can give it a quick fix :)

[2016-07-21 11:55] aminroosta commented on #489
Related PR #493

[2016-07-21 11:55] #489 closed

[2016-07-21 16:42] dahjelle commented on #417
For whatever it is worth, the Vim emulation in both Atom and in Sublime Text works as I'd expect in this case: all selections are acting upon identically.

[2016-07-21 17:42] jkurei opened #495 "KeyBindings having unintended effect on search text"
### What did you do?

I have, among other keyBindings, one to go to the beginning of the line with `B`:

[code]

I then tried to search the word Blocks with: `/Blocks`

### What did you expect to happen?

A Vim-style search of the word Blocks

### What happened instead?

A search of `^locks`

### Technical details:

* VSCode Version:
* VsCodeVim Version: Latest? (I can't find this anywhere, but I

[2016-07-21 17:58] jkurei commented on #492
You can add this to your settings.json:

[code]

The problem with this is `;` will be replaced with `:` in vim searches (`/`); I think that's a bug (https://github.com/VSCodeVim/Vim/issues/495). Of course, i don't think searching `;` is very common, but I actually have done it, so...

[2016-07-21 18:16] jpoon commented on #417
@dahjelle unfortunately, the APIs that these IDEs expose are vastly different from each other. as a result, all the vim emulators are different beasts (ie. no shared code).

[2016-07-21 22:14] siddharth-krishna commented on #422
[code]
didn't work for me either, I had to use
[code]
to get it to work. Maybe we could change what the extension page says until we figure out how to get the non-global setting to work?

[2016-07-21 22:18] jpoon commented on #422
@siddharth-krishna what do you mean? What do you suggest we change it to?

[2016-07-21 22:23] siddharth-krishna commented on #422
Well, the consensus on both this thread as well as issue #345 seems to be that writing the default globally is the only way to get repeated keypresses to register. But the extension home page (at least the one I saw when I installed the extension) still says write the defaults for `com.microsoft.VSCode`, which didn't work for me. Maybe the home page could say, one way to get it to work is to set t

[2016-07-21 22:29] jpoon commented on #422
Ah, the code-formatting in your earlier message left me confused. I'll update the readme with the global setting.

[2016-07-21 22:30] siddharth-krishna commented on #422
Apologies, I forgot to preview that before posting. Fixed now! Thanks.

Siddharth

On 21 July 2016 at 23:29, Jason Poon <notifications@github.com> wrote:

[2016-07-21 23:01] rebornix commented on #492
@jkurei it's a little bit out of my Vim knowledge, does Vim have this feature as well and should it only work on Normal Mode?

[2016-07-21 23:13] jkurei commented on #492
@rebornix yeah. In Vim you can map anything and specify in which modes you want it to work, but they don't work in the ex-commands line nor searches (unless, may be, you specify so? idk).

I have several of such bindings (in real Vim) and they never apply in searching. I have just tested out that the same goes for the remap @ScenK wants to do, just to be sure.

If you don't know the ex menu, It's

[2016-07-22 00:00] rebornix commented on #492
@jkurei yup I know ex menu and I'm implementing it, part of #463 . Now I'm clear enough with the binding scope. It is straight forward to stop key mapping in Search Mode but if we want to speciy mode, we need the same logic as VS Code does keybindings.

This bug is on my list :)

[2016-07-22 00:13] johnfn commented on #495
Oh gosh, this bug is really silly. Easy fix for anyone who wants to pick it up 😄

[2016-07-22 00:15] johnfn commented on #487
Ooh, fascinating idea.

If anyone wants to take this one on, my suggestion would be to honor word separation settings in this order:

1. Vim-specific settings set in vimrc or settings.json, if there are any
2. VSCode-specific settings, if there are any
3. Our default word separators.

[2016-07-22 00:44] cswartzvi commented on #448
Again I say, fantastic job!

[2016-07-22 00:44] #448 closed

[2016-07-22 01:00] cswartzvi commented on #465
Hi, I was the one that created #448. I've been looking for a way to contribute to this awesome project, and as I only have a rudimentary knowledge of typescript at the moment, perhaps I could start here. What sort of functionality were you looking to showcase? General ideas like motions and text manipulations or everything currently supported in the roadmap (might make for a long read).

[2016-07-22 02:22] roblourens commented on #394
Actually about to head out of town, so probably won't have a chance.

[2016-07-22 06:00] rebornix commented on #458
I can repro above failure, each time we switch git branch, our Vim extension failed to work.

[2016-07-22 10:06] jkurei commented on #495
Took a screenshot to illustrate this, forgot to attach it 😔.

<img width="327" alt="screen shot 2016-07-21 at 19 34 53" src="https://cloud.githubusercontent.com/assets/1428611/17053843/37ca349c-5004-11e6-9e37-97c4fb8dea9f.png">

[2016-07-22 12:06] rebornix commented on #394
@roblourens no worries I'll do it, thanks again for the information you provided!

[2016-07-22 16:07] infogulch commented on #402
How does this sound as a game plan:

1. `clone()` the top HistoryStep
2. edit the cloned HistoryStep's (and DocumentChange[]) cursor start positions to be relative to the current position
3. apply the edited HistoryStep to the document, and push it onto the HistoryTracker stack.

Notes:
* This can only work if the last action was an Insert. Find/replace history changes (& others?) will break this.

[2016-07-23 06:36] #338 closed

[2016-07-23 06:52] johnfn commented on #402
Wow, you really did go for the toughest ones first.

I like the idea of using the HistoryStep for . actions, but what bums me out is that it can't be done in a consistent way. For example, if I have `|word differentword` and I do `dw`, then HistoryStep will say I deleted 4 characters, but if I hit . I expect to now delete much more than 4 characters. So then we have to special case it just for ins

[2016-07-23 07:13] johnfn commented on #402
Re: Making . fast:

I always start by thinking about the worst possible case when looking for improvements to make. In the case of . the worst possible case isn't . at all, it's macros. (`.` is like a baby macro.) I would like a solution that improves both . and supports a fast future implementation of macros (which I plan to implement almost exactly the same way as . - just by repeating each acti

[2016-07-24 07:26] cpetrov opened #500 "Support numbered registers"
One common use case is to yank a text [1], delete something and paste the yanked text. Currently the yanked text (1) will be overwritten by the deleted text in the unnamed register. Last yank should be stored in the numbered register `0`.

Another useful feature is accessing and cycling through last deleted/changed text by using registers >=1. Using e.g. `u.` works for cycling through these regist

[2016-07-24 07:43] rebornix commented on #500
It's a quite valid feature request, thanks for reporting it @cpetrov

[2016-07-24 15:38] usstwxy opened #501 "delete multi-lines working unexpectedly. (command 'd[number]')"
### What did you do?
using command 'd[number]' to delete [number] + 1 lines in normal mode, such as 'd5'

### What did you expect to happen?
6 lines start from the cursor will be deleted when press Enter key after input 'd5'

### What happened instead?
1. Only the characters after the cursor have been deleted in first line. **The whole first line should be deleted.**
2. Only deleted 5 lines (inclu

[2016-07-24 23:15] dasizeman opened #502 "Cannot backspace over tabs in insert mode"
### What did you do?
I am editing a a golang source file using the golang VSCode extension.  This is the only other extension besides vscodevim extension.  I entered insert mode and pressed the backspace key on a new line that contained only tab characters for indentation
![vscodeissue](https://cloud.githubusercontent.com/assets/6865301/17087180/f09328fc-51d1-11e6-82bc-e2c5472f678e.png)

### What

[2016-07-25 00:21] #492 closed

[2016-07-25 00:22] johnfn commented on #492
As @jkurei pointed out, this does in fact already work. I suspect our README does not go into enough detail with key remappings, which is confusing people.

The search remapping bug is tracked in #495, and it should be a quick fix. 😃

[2016-07-25 00:23] johnfn opened #503 "Go into a little more detail about key remappings in README"

[2016-07-25 00:25] johnfn opened #504 "Hash has incorrect behavior"
When your editor looks like this:

`abc ab|c`

And you press `#`

You expect this:

`|abc abc`

But what you get is this:

`abc |abc`

[2016-07-25 00:28] johnfn commented on #465
@cswartzvi, that would be awesome!

I think we probably only need 2-3 animated gifs, just to grab people's attention. Generally speaking, the snazzier, the better. :wink: Maybe some of the following:

* using /abc to find "abc", then using cwblah&lt;esc&gt; to turn it into "blah" and then n.n. a few times to show off dot and n.
* select a few lines of text, delete and then paste them somewhere els

[2016-07-25 00:46] ps1118 commented on #470
I just press "/" to search like in vim, but when I press 'n' or 'N', the charactor appears in the input area.

[2016-07-25 00:53] ps1118 commented on #470
It seems like ok, thank you.

[2016-07-25 00:53] johnfn commented on #417
Wow, this is getting more interest than I had previously anticipated. Bumping the priority up.

[2016-07-25 00:53] #470 closed

[2016-07-25 00:54] johnfn commented on #146
Closing in favor of #417.

[2016-07-25 00:54] #146 closed

[2016-07-25 00:54] johnfn commented on #353
Closing in favor of #401.

[2016-07-25 00:54] #353 closed

[2016-07-25 01:00] #471 closed

[2016-07-25 01:01] johnfn commented on #287
Thanks to @sectioneight for nailing all of these!

[2016-07-25 01:01] #287 closed

[2016-07-25 01:33] johnfn commented on #501
Thanks for the bug report, @usstwxy. This one should not be too hard.

[2016-07-25 03:58] sectioneight commented on #171
Are you still running into this? I've been using Dvorak and haven't had any troubles recently.

[2016-07-25 05:53] johnfn commented on #378
Fixed. More problems with travis though unfortunately.

[2016-07-25 05:53] #378 closed

[2016-07-25 11:37] JasonRitchie opened #510 "Unexpected cursor shape with Go To Definition"
### What did you do?

Open two source files where one file references a type in the other file. I used .fs files; one with a record type that includes a record type from the other file.

Leave both files in Insert mode. From one file use F12 Go To Definition to navigate to the other file. Then press a vim mode command such as insert or append.

### What did you expect to happen?
I expected to be a

[2016-07-25 11:44] JasonRitchie commented on #510
![giphy](https://cloud.githubusercontent.com/assets/2144273/17100290/7ae110d2-523b-11e6-915b-0fde651ea4ef.gif)
[VsCodeVimIssue510Project.zip](https://github.com/VSCodeVim/Vim/files/381373/VsCodeVimIssue510Project.zip)

[2016-07-25 12:41] rebornix opened #511 "Move screen line or character"
These commands are used to move a specific screen line or character to another position of the window. You can see it as a way to move scroll bars.

As we cut the build of July release and won't add new APIs this week, these features can only be implemented after this week in Insider.

- [ ] zh
- [ ] zH
- [ ] zl
- [ ] zL

[2016-07-25 12:46] rebornix commented on #511
It's dependent on https://github.com/Microsoft/vscode/issues/9609

[2016-07-25 13:02] oheard opened #512 "Support :s/foo/bar/g style substitutions when text is selected"
* VSCode Version: 1.3.1
* VsCodeVim Version: 0.1.3
* OS: Ubuntu 16.04

[2016-07-25 13:03] oheard opened #513 "Support ctrl+a and ctrl+x to increment/decrement numbers"
* VSCode Version: 1.3.1
* VsCodeVim Version: 0.1.3
* OS: Ubuntu 16.04

[2016-07-25 13:16] rebornix commented on #512
@oheard definitely this command is useful and easy to implement, I'll add this ASAP.

[2016-07-25 15:42] #504 closed

[2016-07-25 20:52] sectioneight commented on #513
I can make this happen, probably tonight

[2016-07-25 20:57] jpoon commented on #513
Sweet, thanks @sectioneight. Adding the in-progress tag.

[2016-07-26 00:15] johnfn opened #516 "]p doesn't work with whitespace trimming"
If you do ]p on a blank line, it pastes with 0 indentation, even if above/below lines are actually indented.

This _is_ how Vim works, however I feel like no one in their right mind could ever want this behavior (vs figuring out what the correct indentation level is and pasting at that level instead).

[2016-07-26 01:07] octref commented on #429
@johnfn
Hi Grant I'm interested in taking a shot at this. Do you mind elaborating on "handle word delimiters in / and ?" I can also try fixing that if it's not too complicated.

[2016-07-26 01:11] johnfn opened #517 "The formatting of the FAQ looks terrible, esp. within vscode."

[2016-07-26 01:14] octref opened #518 "Ctrl-C in "/" doesn't reset the keyword to search"
### What did you do?

Strokes: `/abc<Ctrl-C>`

<img width="170" alt="screen shot 2016-07-25 at 6 10 12 pm" src="https://cloud.githubusercontent.com/assets/4033249/17122760/11e020d4-5293-11e6-9a93-be02764816c5.png">

### What did you expect to happen?
Going back to Normal Mode

### What happened instead?
Staying in `/` search mode, and any more input will be intercepted as appending to the keyword

[2016-07-26 02:53] johnfn commented on #429
@octref awesome! absolutely!

In Vim, when you're searching with / or ?, you can actually use certain special delimiters to indicate you want to match a full word. For instance, /\&lt;foo\&gt; matches only the entire word foo, not foobar or barfoo.

If you use * and # in vim you can tell this is how they work under the hood.

So I would suggest to implement that for / and ?, then rewrite * and # t

[2016-07-26 02:55] frederickfogerty commented on #417
Just my 2c: This is the only reason I used amVim over this extension - on that extension it allows multi cursors.

[2016-07-26 04:23] johnfn opened #519 "action.ts refactoring"
We have this pattern going on in actions.ts where, if we want to implement an action that's similar to another action, we make a new class that just extends the old class and reimplements what changed.

I am not a big fan of this. The main problem is that if someone changes the base class, it's not obvious at all that the subclasses could have been depending on the behavior of the base class.

I w

[2016-07-26 06:30] #513 closed

[2016-07-26 06:48] johnfn commented on #417
Alright, that is a large amount of support. I will do this immediately after I finish Visual Block mode.

**THE PEOPLE HAVE SPOKEN.**

[2016-07-26 07:06] johnfn opened #520 "Make actions (more) pure"
Currently, executing an action will, if that action manipulates text, cause that action to immediately update the document. Seems logical, but it doesn't work well in the case of . and macros because they potentially can trigger hundreds of insertions and deletions.

The correct solution is to batch all updates and deletes into a single step which we send off to VSCode. However, this will requires

[2016-07-26 07:28] johnfn opened #521 "Crash when you switch branches (if the difference is large enough)"
This is because we do a diff in HistoryTracker and jsdiff has a run time of something like O(n^2).

Should be as simple as adding a 1 second timeout to the differ and, if we hit the timeout, (somehow) stopping the diff and just saying we deleted and recreated the entire document.

[2016-07-26 08:35] johnfn opened #522 "Use objects as poor man's keyword arguments for some functions"
A couple of our functions have a few trailing boolean arguments, which makes invocations impossible to read.

Make these arguments into objects and use destructuring to improve readability.

[2016-07-26 10:04] DoranYun opened #523 "When I type `jj` to `esc`, will save a `j` character"
When I type `jj` to `esc`, will save a `j` character.

![v](https://cloud.githubusercontent.com/assets/16359169/17134082/4ddc538c-535b-11e6-96e7-179634e5c325.gif)

settings.json

[code]

* VSCode Version: 1.3.1
* VsCodeVim Version: 0.1.3
* OS:  Mac

[2016-07-26 16:03] infogulch commented on #521
I might even go as far as to say that the history should be reset when you switch branches. A couple times I've accidentally hit `u` after switching branches and it tried reverting the whole document.

The only problem is that differentiating between switching branches and the file being edited by another process is difficult to impossible. Maybe this difference is not big enough to worry about.

[2016-07-26 16:08] johnfn commented on #523
Weird, looks like a regression to me. Sorry about that! Will get to it soon.

[2016-07-26 16:10] johnfn commented on #523
Weird. I saw this a few times, but now I can't reproduce it!

[2016-07-26 16:12] johnfn commented on #521
@infogulch Good point. I am fine with totally resetting history in a case like this.

[2016-07-27 02:32] DoranYun commented on #523
I tried to reinstall, but the problem is still unsolved.

[2016-07-27 03:27] rebornix commented on #521
I suppose it’s not just branch switching, when you do reverting in Git, it will fail sometimes, right?

[2016-07-27 03:48] #427 closed

[2016-07-27 03:55] johnfn commented on #521
Yes. Branch switching is the easiest way to trigger this change that I've found, however anything that causes the history tracker to do a massive diff will trigger it. Pasting tons of text, changing the file in another editor, git revert, etc.

[2016-07-27 03:56] johnfn commented on #523
@DoranYun Yeah, it's definitely a bug. It's a tricky one though; it only happens occasionally for me and I can't figure out anything that directly triggers it.

If you can find a way to reproduce it 100% of the time, that would be really helpful.

[2016-07-27 04:05] johnfn commented on #500
Absolutely a valid request. Putting it on the roadmap for 0.3 because I feel like it's one of the lesser-used features of Vim. If more people thumbs it up then I'll bump it in priority (and you can always feel free to take a whack at it in the mean time!)

[2016-07-27 04:10] #438 closed

[2016-07-27 04:35] johnfn commented on #518
Fixed! Thanks for the report, @octref!

[2016-07-27 04:35] #518 closed

[2016-07-27 04:35] johnfn commented on #517
Actually I think that's an old version of the README. Nevermind!

[2016-07-27 04:35] #517 closed

[2016-07-27 04:36] johnfn commented on #512
That is a large number of reactions. This looks like a good one to prioritize, @rebornix.

[2016-07-27 04:38] johnfn commented on #510
As this isn't really a critical error, just an annoyance, I'm going to put it in the backlog for now. PRs are always welcome.

[2016-07-27 04:41] johnfn commented on #171
My guess is this was fixed on the vscode side. Closing for now - if any of you guys have problems, feel free to reopen.

[2016-07-27 04:41] #171 closed

[2016-07-27 04:42] #250 closed

[2016-07-27 04:42] #421 closed

[2016-07-27 06:36] DoranYun commented on #523
@johnfn When I open a file to start Insert mode(do not enter any text), then type `jj` go back to Normal mode, It will be triggers. But if I enter some text in Insert mode, then type `jj` go back to Normal mode, it's alright.
It always happends in my mac.

![vv](https://cloud.githubusercontent.com/assets/16359169/17166080/55131706-5407-11e6-888e-311cbab835bd.gif)

[2016-07-27 07:03] rebornix commented on #521
Looking forward to see this get fixed as I'm working on several branches with `massive` diff (hundreds of lines) and run into this issue constantly :)

[2016-07-27 07:36] johnfn commented on #521
Ahh, yeah, that doesn't sound enjoyable.

Fortunately, this is not a hard fix at all. I should be able to get it done in the next few days.

[2016-07-27 08:20] rebornix commented on #512
ha, didn't notice so many people drop reactions on it. Fixed via #525.

[2016-07-27 12:00] Platzer opened #526 "Visual mode: "o" - move to other end of marked area"
### What did you do?

Mark text in Visual Mode and press `o`.

### What did you expect to happen?

Wanted to move cursor to other end of marked area.

### What happened instead?

Nothing.

### Technical details:

* VSCode Version: Version 1.4.0-insider
  * Commit: 825a1e71a436007d88796cb1cf0bad85ad534e53
  * Date: 2016-07-27T07:11:53.180Z
* VsCodeVim Version: *0.1.3*
* OS: Win7

[2016-07-27 21:19] jordanlewis opened #527 "Support ^e and ^y"
Vim has some nice scrolling features where the cursor stays in the same spot but the screen moves up and down: ^E and ^Y. From `scroll.txt`:

[code]

[2016-07-27 21:48] johnfn opened #528 "shift+backspace should work the same as backspace in search mode"

[2016-07-27 22:07] jordanlewis opened #529 "Support `gd`"
I would like `gd` in normal mode to act like "Go to Declaration". Is this possible to do with a key binding?

[2016-07-27 22:22] arussellk commented on #389
I'm going to give this a shot.

[2016-07-28 02:15] rebornix commented on #527
@jordanlewis we have a similar requirements and it's dependent on Code API support. We have opened an issue #9609 then let's see if we can make this together with that API next sprint (Code August Iteration.)

[2016-07-28 03:13] rebornix opened #531 "options for Fold"
[code]

These options are used for Fold features. Let's see what we can do in following iteration.

[2016-07-28 06:24] localvar opened #532 "CJK still problem in normal mode"
Do you need help or have a question? Ask us on [Slack](https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### What did you do?

text as below, put cursor at the 2nd line (the empty line)
[code]

switch to Chinese IME and type `ksge ` to input `空格`, the actual result is:

[code]

### What did you expect to happen?

In my idea, it would be better if

[2016-07-28 10:01] rebornix commented on #532
@localvar The full featured CJK support relies on Code's newly added API `replacePreviousChar` and it only exists in Insider and 1.4.0 later. So you are supposed to run into this issue with Code 1.3.1.

I'd like to keep this open and test it again when Code 1.4.0 Stable releases. It should work as expected. @localvar sorry to bother you as we released new Ext before Code.

[2016-07-28 10:03] rebornix commented on #527
@jordanlewis see https://github.com/VSCodeVim/Vim/blob/master/ROADMAP.md#scrolling we've already added `Scroll` features on our roadmap. Stay tuned and we will have in August.

[2016-07-28 10:12] localvar commented on #532
Thanks for the explanation @rebornix , I will wait v1.4.0 and verify this.

[2016-07-28 11:13] everpointer commented on #479
I kind of have the same problem, when using snippets with variable label. When snippet tab stops at label variable, it turned into visual mode which broke the snippets operation.
I keep uninstalling vim extension just because I can't use snippet well.

[2016-07-28 13:10] anjdreas opened #534 "Jittery motion when holding j/k/e/n down"
### What did you do?

Open a file with enough text to fill a couple of screens. In normal mode, hold down any of `kjen` to move cursor multiple positions up/down/right/left.
### What did you expect to happen?

Move cursor multiple positions in sequence, by the speed of the keyboard button repeat.
### What happened instead?

Cursor sometimes jumps arbitrarily back and forth, jittery. Holding down n

[2016-07-28 13:13] anjdreas commented on #534
![2016-07-28_15-12-31](https://cloud.githubusercontent.com/assets/787816/17213711/c4017936-54d5-11e6-83aa-14162a02a1b6.gif)

`en` motions for right/left seems even worse, showcased in this gif.

[2016-07-28 13:51] rebornix commented on #534
Ran into the same issue the moment I received my Dell XPS 13. I thought it was my laptop keyboard's problem and imitated the issue by decreasing my System's keyboard repeat rate.

Now it looks like a racing problem. I'll put more info here if I get more ideas.

[2016-07-28 14:18] jordanlewis commented on #527
Great!

For now, I went ahead and remapped these outside of the plugin as follows, which works nicely:

[code]

[2016-07-28 14:24] jordanlewis opened #535 "CI appears to be broken"
It seems like there's something wrong with the CI setup. All builds are failing: https://travis-ci.org/VSCodeVim/Vim/pull_requests

Locally, I get the same problem when running `vsce package`. I was able to solve the issue with `rm -rf .node_modules/@types`, but I have no idea if that's the right thing to do.

[2016-07-28 14:28] rebornix commented on #527
@jordanlewis oh your workaround is neat! didn't notice Code already supports line scrolling, then it will be easy to add these command natively in VSCodeVim. I'll add this real quick.

[2016-07-28 19:34] anjdreas commented on #534
I am seeing the same with amvim extension. Possibly because both extensions use the same means to invoke these motions. I am not seeing this problem on my desktop PC, only on my laptop. It is a very powerful laptop with i7-6700 CPU, but the desktop is yet more powerful.

[2016-07-28 19:37] anjdreas commented on #534
Decreasing keyboard repeat rate in Windows definitely helps, so seems like a racing issue for sure.

[2016-07-28 20:56] johnfn commented on #534
I think this is an API limitation (especially if amvim runs into the same problem), but I actually just had an interesting idea to try while thinking about it.

I actually don't encounter this bug on my computer, so I'll need you guys to test for me. I'll let you know.

[2016-07-29 01:09] mnsr opened #536 "Shift+S doesn't work"
In normal mode in VIM, i can press SHIFT+S on any line, and it'll clear the line, put the cursor at the correct indentation and switch to INSERT mode. This doesn't happen here.

It'd be fantastic if this could be added.

I'm currently using version 0.1.4.

Thanks

[2016-07-29 01:11] johnfn commented on #532
@localvar you can actually install visual code insiders right now and check it out, if you want.

[2016-07-29 01:39] jneiku opened #537 "an option to use system clipboard"
Thanks for all the tremendous work!

I'm wondering if it's possible to add an option similar to Sublime's Vintageous "[vintageous_use_sys_clipboard](https://github.com/guillermooo/Vintageous/blob/master/Preferences.sublime-settings#L27)" mode.

Basically, the desire is to yank and paste from system clipboard and not a separate vim-only clipboard.

Thanks ahead!

[2016-07-29 03:31] johnfn commented on #537
I like the idea.

@rebornix is this possible currently?

[2016-07-29 03:32] johnfn commented on #537
(Currently you can use cmd-c and cmd-v to access the system clipboard within insert mode.)

[2016-07-29 03:39] rebornix commented on #537
@johnfn clipboard is a system stuff and we don't want to wrap it again in Code, see https://github.com/Microsoft/vscode/issues/217 .

But we can still leverage third party npm modules to handle the clipboard. I like it as well, using sys_clipboard to cache register is fun sometimes.

[2016-07-29 03:39] cshei opened #538 "Y key doesn't yank current line"
### What did you do?

Tried to duplicate the current line using "Yp"

Put the exact key strokes you pressed to reproduce the issue, if possible.

Yp

### What did you expect to happen?

Current line should be yanked.

### What happened instead?

Nothing.  Using "yy" instead of "Y" works, but I'm totally used to using "Y" at this point.

### Technical details:

* VSCode Version: 1.3.1
* VsCodeVim V

[2016-07-29 07:37] johnfn commented on #538
Added this one just for you 😉

[2016-07-29 07:37] #538 closed

[2016-07-29 13:03] cshei commented on #538
Wow, that was quick… thanks!!

[2016-07-29 17:19] #394 closed

[2016-07-30 03:22] johnfn commented on #479
@everpointer ahh, that is definitely an issue. will definitely see if we can get snippets working for you!

[2016-07-30 04:24] rebornix commented on #479
@johnfn I suppose https://github.com/Microsoft/vscode/issues/8093 covers this issue, right?

[2016-07-30 04:25] johnfn commented on #479
Nah, this one requires no additional API changes.

Just ensure we're not in insert mode before going into visual mode when the selection changes.

[2016-07-30 04:29] rebornix commented on #479
Then this fix would be easy.

[2016-07-30 04:44] johnfn commented on #479
Yup! (Like most fixes 😉 )

[2016-07-31 19:13] tylerl0706 opened #540 "Typing in Insert Mode with multiple cursors only types in first cursor"
### What did you do?

1. Put it in INSERT
2. Use Option+CLICK to spawn another cursor somewhere
3. Type stuff

### What did you expect to happen?
What you type appears by each cursor

### What happened instead?
What you type appears by only the first cursor

### Technical details:

* VSCode Version: 1.3.1
* VsCodeVim Version: 0.1.4
* OS: OS X El Capitan

[2016-07-31 21:24] taichirain opened #541 "will often appear not to respond to the phenomenon"
Do you need help or have a question? Ask us on [Slack](https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### What did you do?
When I use mode VIM edit files, will often appear not to respond to the phenomenon, for another plug-in will not appear this problem.
I very much like to use this plugin, is all the VIM plug-ins in support of the VIM comman

[2016-07-31 21:26] taichirain opened #542 "When using / searching, do not support Chinese"
Do you need help or have a question? Ask us on [Slack](https://vscodevim-slackin.azurewebsites.net/) 👫.
Found a bug? Please fill out the sections below 👍.

### What did you do?

Put the exact key strokes you pressed to reproduce the issue, if possible.

### What did you expect to happen?
Hope to support the Chinese search
### What happened instead?

### Technical details:

* VSCode Version:1.3.1
*

[2016-08-01 10:03] tanordheim commented on #414
Hi @johnfn, any update on this? I'm happy to produce a pull request for you on this if you could nudge me a little in the right direction; I'm not at all familiar with VSCode extensions and aren't really sure where to begin digging in order to help fix this :)